<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-300 animate-appear opacity-0 m-0">
    Débuter une session d'entraînement</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Sélectionnez les
    situations sur lesquelles vous souhaitez vous entraîner.</p>
<div class="animate-appear opacity-0 animation-delay-100 w-11/12 min-w-[525px] mx-auto shadow-lg">
    <p-table [value]="situationList" dataKey="id" [paginator]="true" [rows]="nbRowsPerPage" [(selection)]="selectedSituations">
        <ng-template pTemplate="header">
            <tr>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg rounded-tl-md dark:border-gray-700">
                    <div class="flex items-center">
                        Nom
                        <p-columnFilter type="text" field="name" display="menu" class="ml-2"></p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Type
                        <p-columnFilter field="type" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="typeLst" placeholder="Type" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Stack effectif
                        <p-columnFilter type="numeric" field="stack" display="menu"
                            class="ml-2"></p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Nb joueurs
                        <p-columnFilter field="nbPlayer" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="nbPlayerLst" placeholder="Nombre de joueur" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Position
                        <p-columnFilter field="position" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="positionLst" placeholder="Position" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Niveau
                        <p-columnFilter field="opponentLevel" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false" [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" [options]="opponentLevelLst" placeholder="Niveau" (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg rounded-tr-md dark:border-gray-700">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-situation let-i="rowIndex">
            <tr class="dark:text-gray-300 dark:bg-secondary-dark-bg py-3">
                <td class="py-6 dark:border-gray-700">
                    {{ situation.name }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.type | type }}
                </td>
                <td class="py-6 dark:border-gray-700">
                    {{ situation.stack }}
                </td>
                <td class="py-6 dark:border-gray-700">
                    {{ situation.nbPlayer }}
                </td>
                <td class="py-6 dark:border-gray-700">
                    {{ situation.position | position }}
                </td>
                <td class="py-6 dark:border-gray-700">
                    {{ situation.opponentLevel! | opponentLevel }}
                </td>
                <td class="py-6 dark:border-gray-700">
                    <p-tableCheckbox [value]="situation"></p-tableCheckbox>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex justify-center mt-10 animate-appear opacity-0 animation-delay-150">
    <div (click)="onStartTrainingButton()"
        class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
        <i class="fa-solid fa-play mr-3 h-4 w-4"></i>
        Lancer l'entraînement
    </div>
</div>