<div class="header">
    <ion-button class="backArrow" (click)="redirectTo('home')">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="inner-header">
        <h1>Débuter une cession d'entraînement</h1>
        <p>Sélectionnez les situations sur lesquelles vous souhaitez vous entraîner</p>
        <!-- <div class="container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Nom</div>
                    <div class="col col-2">Nb BB dealer</div>
                    <div class="col col-3">Nb joueurs</div>
                    <div class="col col-4">Joueur Dealer</div>
                    <div class="col col-5">Niveau</div>
                    <div class="col col-6">Lancer</div>
                </li>
                <div class="tableBody">
                    <li *ngFor="let situation of situationList; let i = index"
                        class="table-row animate__animated animate__fadeInDown" [style.animation-delay]="i * 0.1+'s'">
                        <div class="col col-1">{{ situation.name }}</div>
                        <div class="col col-2">{{ situation.dealerMissingTokens }}</div>
                        <div class="col col-3">{{ situation.nbPlayer }}</div>
                        <div class="col col-4">{{ situation.dealer! | dealer }}</div>
                        <div class="col col-5">{{ situation.opponentLevel! | opponentLevel }}</div>
                        <div class="col col-6"><input type="checkbox" class="cbx" id="{{situation._id}}"
                                value="{{situation._id}}" (change)="onCheckedSituationCheckbox($event)"
                                style="display: none;">
                            <label for="{{situation._id}}" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path
                                        d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                    </path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="buttons_container">
            <div class="buttons">
                <button class="fill">Filtrer</button>
                <button class="fill">Tout cocher</button>
                <button class="fill">Cocher filtrés</button>
                <button class="fill" (click)="onStartTrainingButton()">Lancer l'entraînement</button>
            </div>
        </div> -->
        <div class="container">
            <p-table #dt1 [value]="situationList" dataKey="_id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true" [(selection)]="selectedSituations">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex align-items-center">
                                Nom
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Nb BB dealer
                                <p-columnFilter type="numeric" field="dealerMissingTokens" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Nb joueurs
                                <p-columnFilter type="numeric" field="nbPlayer" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Joueur Dealer
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                <!-- <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.value"
                                                    [severity]="getSeverity(option.label)"></p-tag>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter> -->
                            </div>
                        </th>
                        <th>
                            <div class="flex align-items-center">
                                Niveau
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                <!-- <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.value"
                                                    [severity]="getSeverity(option.label)"></p-tag>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter> -->
                            </div>
                        </th>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <!-- <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Country
                                <p-columnFilter type="text" field="country.name" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:15rem">
                            <div class="flex align-items-center">
                                Agent
                                <p-columnFilter field="representative" matchMode="in" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Agent Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                                            (onChange)="filter($event.value)" optionLabel="name">
                                            <ng-template let-option pTemplate="item">
                                                <div class="inline-block vertical-align-middle">
                                                    <img [alt]="option.label"
                                                        src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                        width="24" class="vertical-align-middle" />
                                                    <span class="ml-1 mt-1">{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiSelect>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Date
                                <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Balance
                                <p-columnFilter type="numeric" field="balance" display="menu"
                                    currency="USD"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses"
                                            (onChange)="filter($event.value)" placeholder="Any">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [value]="option.value"
                                                    [severity]="getSeverity(option.label)"></p-tag>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width:10rem">
                            <div class="flex align-items-center">
                                Activity
                                <p-columnFilter field="activity" matchMode="between" display="menu"
                                    [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-slider [ngModel]="activityValues" [range]="true"
                                            (onSlideEnd)="filter($event.values)" styleClass="m-3"></p-slider>
                                        <div class="flex align-items-center px-2">
                                            <span>{{ activityValues[0] }}</span>
                                            <span>{{ activityValues[1] }}</span>
                                        </div>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th style="width: 3rem">
                            <div class="flex align-items-center">
                                Verified
                                <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                            </div>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-situation>
                    <tr>
                        <td>
                            {{ situation.name }}
                        </td>
                        <td>
                            {{ situation.dealerMissingTokens }}
                        </td>
                        <td>
                            {{ situation.nbPlayer }}
                        </td>
                        <td>
                            {{ situation.dealer! | dealer }}
                        </td>
                        <td>
                            {{ situation.opponentLevel! | opponentLevel }}
                        </td>
                        <td>
                            <p-tableCheckbox [value]="situation"></p-tableCheckbox>
                        </td>
                        <!-- <td>
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + customer.country.code" style="width: 20px" />
                            <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
                        </td>
                        <td>
                            <img [alt]="customer.representative.name"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}"
                                width="32" style="vertical-align: middle" />
                            <span class="ml-1 vertical-align-middle">{{ customer.representative.name }}</span>
                        </td>
                        <td>
                            {{ customer.date | date: 'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ customer.balance | currency: 'USD':'symbol' }}
                        </td>
                        <td>
                            <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"></p-tag>
                        </td>
                        <td>
                            <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
                        </td>
                        <td class="text-center">
                            <i class="pi"
                                [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>