<h1>Débuter une session d'entraînement</h1>
<p>Sélectionnez les situations sur lesquelles vous souhaitez vous entraîner</p>
<div class="container">
    <p-table [value]="situationList" dataKey="id" [rows]="nbRowsPerPage" [showCurrentPageReport]="true"
        [paginator]="true" [(selection)]="selectedSituations">
        <ng-template pTemplate="header">
            <tr class="animate__animated animate__fadeIn">
                <th>
                    <div class="flex align-items-center">
                        Nom
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Nb BB minimum
                        <p-columnFilter type="numeric" field="dealerMissingTokens" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Nb joueurs
                        <p-columnFilter type="numeric" field="nbPlayer" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Joueur Bouton
                        <p-columnFilter type="text" field="dealer" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Niveau
                        <p-columnFilter type="text" field="opponentLevel" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-situation let-i="rowIndex">
            <tr class="animate__animated animate__fadeIn"
                [style.animation-delay]="0.1 + (i % nbRowsPerPage) * 0.075 + 's'">
                <td>
                    {{ situation.name }}
                </td>
                <td>
                    {{ situation.dealerMissingTokens }}
                </td>
                <td>
                    {{ situation.nbPlayer }}
                </td>
                <td>
                    {{ situation.dealer! | dealer }}
                </td>
                <td>
                    {{ situation.opponentLevel! | opponentLevel }}
                </td>
                <td>
                    <p-tableCheckbox [value]="situation"></p-tableCheckbox>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<button class="fill" (click)="onStartTrainingButton()">Lancer l'entraînement</button>