<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-300 animate-appear opacity-0 m-0">
    Sélection du mode d'entraînement
</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-10 text-left animate-appear opacity-0">
    Choisissez le mode d'entraînement auquel vous souhaitez jouer.
</p>
<div class="flex mt-24 justify-around items-center">
    <div class="dui-card w-96 shadow-xl cursor-pointer bg-white dark:bg-main-dark-bg hover:scale-105 transition-all duration-200 animate-appear opacity-0 animation-delay-100"
        (click)="onSelectMode('infinite')">
        <figure class="dark:bg-main-dark-bg w-full m-0">
            <img src="../../../assets/img/infinite.jpg" alt="infinite" class="w-full" />
        </figure>
        <div class="dui-card-body dark:text-gray-300 dark:bg-secondary-dark-bg rounded-b-xl flex justify-center">
            <h2 class="dui-card-title m-0">Infini</h2>
            <p>Répondez aux situations qui se présentent à vous de manière infinie, et stoppez quand vous le souhaitez.
            </p>
        </div>
    </div>
    <div class="dui-card w-96 shadow-xl cursor-pointer bg-white dark:bg-main-dark-bg hover:scale-105 transition-all duration-200 animate-appear opacity-0 animation-delay-150"
        (click)="onSelectMode('turbo')">
        <figure class="dark:bg-main-dark-bg w-full m-0">
            <img src="../../../assets/img/turbo.jpg" alt="turbo" class="w-full" />
        </figure>
        <div class="dui-card-body dark:text-gray-300 dark:bg-secondary-dark-bg rounded-b-xl">
            <h2 class="dui-card-title m-0">Turbo</h2>
            <p>Un mode basé sur la rapidité. Répondez à un maximum de situations dans le temps imparti.</p>
        </div>
    </div>
    <div class="dui-card w-96 shadow-xl cursor-pointer bg-white dark:bg-main-dark-bg hover:scale-105 transition-all duration-200 animate-appear opacity-0 animation-delay-200"
        (click)="onSelectMode('challenge')">
        <figure class="dark:bg-main-dark-bg w-full m-0" class="w-full m-0">
            <img src="../../../assets/img/defi.jpg" alt="defi" class="w-full" />
        </figure>
        <div class="dui-card-body dark:text-gray-300 dark:bg-secondary-dark-bg rounded-b-xl">
            <h2 class="dui-card-title m-0">Défi</h2>
            <p>Répondez à un nombre prédéfini de situations pour compléter l'entraînement. A la première erreur, c'est
                perdu.</p>
        </div>
    </div>
</div>

<dialog id="turbo-timer-modal" class="dui-modal dui-modal-bottom sm:dui-modal-middle">
    <div class="dui-modal-box text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
        <form method="dialog">
            <button
                class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none">✕</button>
        </form>
        <h4 class="m-0 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            Sélection du temps d'entraînement
        </h4>
        <div class="flex flex-row gap-8 justify-center items-center my-10">
            <p-floatLabel>
                <p-inputNumber inputId="integeronly" showButtons="true" [min]="0" [max]="23" [(ngModel)]="heure"
                    inputStyleClass="w-24" />
                <label class="text-gray-800 dark:text-gray-300">Heures</label>
            </p-floatLabel>
            <p-floatLabel>
                <p-inputNumber inputId="integeronly" showButtons="true" [min]="0" [max]="60" [(ngModel)]="minute"
                    inputStyleClass="w-24" />
                <label class="text-gray-800 dark:text-gray-300">Minutes</label>
            </p-floatLabel>
            <p-floatLabel>
                <p-inputNumber inputId="integeronly" showButtons="true" [min]="0" [max]="60" [(ngModel)]="seconds"
                    inputStyleClass="w-24" />
                <label class="text-gray-800 dark:text-gray-300">Secondes</label>
            </p-floatLabel>
        </div>
        <div class="flex justify-center mt-8">
            <div (click)="startTurboSession()"
                class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                <i class="fa-solid fa-play mr-3 h-4 w-4"></i>
                Démarrer la session
            </div>
        </div>
    </div>
</dialog>