<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0">
    Sélection du mode d'entraînement
</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-10 text-left animate-appear opacity-0">
    Choisissez le mode d'entraînement auquel vous souhaitez jouer.
</p>
<div class="flex mt-24 justify-around items-center">
    <div class="dui-card w-96 bg-base-100 shadow-xl cursor-pointer dark:bg-main-dark-bg">
        <figure class="">
            <img src="../../../assets/img/infinite.jpg" alt="infinite" />
        </figure>
        <div class="dui-card-body dark:text-gray-200 dark:bg-secondary-dark-bg rounded-b-xl">
            <h2 class="dui-card-title">Infini</h2>
            <p>Répondez aux situations qui se présentent à vous de manière infinie, et stoppez quand vous le
                souhaitez.</p>
        </div>
    </div>
    <div class="dui-card w-96 bg-base-100 shadow-xl cursor-pointer dark:bg-main-dark-bg">
        <figure class="dark:bg-main-dark-bg">
            <img src="../../../assets/img/turbo.jpg" alt="turbo" />
        </figure>
        <div class="dui-card-body dark:text-gray-200 dark:bg-secondary-dark-bg rounded-b-xl">
            <h2 class="dui-card-title">Turbo</h2>
            <p>Un mode basé sur la rapidité. Répondez à un maximum de situations dans le temps imparti.</p>
        </div>
    </div>
    <div class="dui-card w-96 bg-base-100 shadow-xl cursor-pointer dark:bg-main-dark-bg">
        <figure class="dark:bg-main-dark-bg">
            <img src="../../../assets/img/defi.jpg" alt="defi" />
        </figure>
        <div class="dui-card-body dark:text-gray-200 dark:bg-secondary-dark-bg rounded-b-xl">
            <h2 class="dui-card-title">Défi</h2>
            <p>Répondez à un nombre prédéfini de situations pour compléter l'entraînement. A la première erreur, c'est perdu.</p>
        </div>
    </div>
</div>