<div class="header">
    <ion-button class="backArrow" (click)="redirectTo('manage')">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="inner-header">
        <h1 *ngIf="mode === 'new'">Enregistrer une nouvelle situation</h1>
        <h1 *ngIf="mode === 'edit'">Modifier la situation</h1>
        <div class="form__group field">
            <input [(ngModel)]="situationName" type="text" class="form__field" placeholder="Nom de la situation"
                name="situationName" id='situationName' required autocomplete="off" />
            <label for="situationName" class="form__label">Nom de la situation</label>
        </div>
    </div>
    <div class="tableaux">
        <table>
            <tbody>
                <tr *ngFor="let row of situation_obj.situations">
                    <td *ngFor="let item of row" (click)="saveAction($event)"
                        [style.background]="'radial-gradient(' + (item.action! | actionColor) + ', black 200%)'">
                        {{item.card}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableaux">
        <form class="solutions">
            <div class="grid">
                <ng-container *ngFor="let action of situation_obj.actions; let i = index">
                    <input type="input" class="textInput" value="{{action.display_name}}" [id]="'input_action_' + i"
                        (input)="onChangeActionName(action.name, $event)" placeholder="Aucun" />
                    <div class="color-picker"></div>
                    <div class="opened">
                        <div class="colors">
                            <div class="color-picker" style="background: #d80c05"></div>
                            <div class="color-picker" style="background: #ff9100"></div>
                            <div class="color-picker" style="background: #ebe700"></div>
                            <div class="color-picker" style="background: #3f7a89"></div>
                            <div class="color-picker" style="background: #96c582"></div>
                            <div class="color-picker" style="background: #303030"></div>
                            <div class="color-picker" style="background: #1c51ff"></div>
                            <div class="color-picker" style="background: #00aeff"></div>
                            <div class="color-picker" style="background: #8400ff"></div>
                            <div class="color-picker" style="background: #e284ff"></div>
                        </div>
                        <div class="hex-code">
                            <div class="g-input">
                                <input type="text" value="#ffffff" />
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <button class="fill addButton">Ajouter +</button>
        </form>
    </div>
    <div class="situationCaracteristics">
        <h2 class="firsth2">Combien de BB reste t-il au dealer ?</h2>
        <div class="form__group field rightForm">
            <input type="number" min="1" step="1" class="form__field" id="jetonsRestants" name="jetonsRestants"
                placeholder="Nombre de jetons restants" [(ngModel)]="dealerMissingTokens" required />
            <label for="jetonsRestants" class="form__label">Nombre de BB restantes</label>
        </div>
        <h2 class="middleh2">Combien de joueurs y a-t-il autour de la table ?</h2>
        <div>
            <button id="btn2Player" class="fill smallButton" (click)="onChangeNBPlayer(2)">2</button>
            <button id="btn3Player" class="fill smallButton selectedButton" (click)="onChangeNBPlayer(3)">3</button>
        </div>
        <h2 class="lasth2">Quel joueur autour de la table est le dealer ?</h2>
        <div>
            <button id="btnYouDealer" class="fill smallButton selectedButton"
                (click)="onChangeDealer('you')">Vous</button>
            <button id="btnOpponent1Dealer" class="fill smallButton" (click)="onChangeDealer('opponent1')">Adversaire
                1</button>
            <button *ngIf="showOpponent2" id="btnOpponent2Dealer" class="fill smallButton"
                (click)="onChangeDealer('opponent2')">Adversaire
                2</button>
        </div>
        <h2 class="lasth2">Quel niveau ont les adversaires ?</h2>
        <div>
            <button id="btnFishOpponent" class="fill smallButton selectedButton"
                (click)="onChangeOpponentLevel('fish')">Débutant</button>
            <button id="btnSharkOpponent" class="fill smallButton"
                (click)="onChangeOpponentLevel('shark')">Confirmé</button>
        </div>
    </div>
    <button class="fill saveButton" (click)="saveSituation()">Enregistrer</button>
</div>