@if (mode === 'new') {
<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0">
    Créer une nouvelle situation</h3>
<p class="text-gray-500 dark:text-gray-350 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Créez une nouvelle
    situation en renseignant ses ranges ainsi que ses caractèristiques.</p>
}
@if (mode === 'edit') {
<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0">
    Modifier une situation</h3>
<p class="text-gray-500 dark:text-gray-350 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Modifiez une de vos
    situations existante en renseignant ses nouvelles ranges et caractèristiques.</p>
}

<!-- Div container tableau + solutions -->
<div class="flex items-center justify-center w-10/12 my-16 mx-auto">

    <!-- Tableau des ranges -->
    <table (mouseleave)="endSelection($event)" oncontextmenu="return false;"
        class="mx-auto table-fixed border-separate border-spacing-1">
        <tbody>
            @for (row of situation_obj.situations; track i; let i = $index) {
            <tr class="table-row animate-appear opacity-0" [style.animation-delay]="i * 0.025+'s'">
                @for (item of row; track j; let j = $index) {
                <td class="rounded cursor-pointer font-bold select-none text-center align-middle py-2 px-1.5 bg-white dark:text-white hover:bg-gray-200 dark:bg-secondary-dark-bg shadow-xl"
                    (mousedown)="startSelection($event)" (mouseenter)="updateSelection($event)"
                    (mouseup)="endSelection($event)"
                    [ngStyle]="{'background': (item.action! | actionColor:situation_objActionsRef)}"
                    [ngClass]="item.action ? 'text-gray-200' : 'text-gray-800'">
                    {{item.card}}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>

    <!-- Div solutions -->
    <div
        class="text-gray-800 bg-white dark:bg-secondary-dark-bg w-110 rounded-lg py-5 px-7 shadow-lg mx-auto flex flex-col items-center mb-2 animate-appear opacity-0 animation-delay-100">
        <div class="text-left w-full">
            <h4 class="mb-4 text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                Solutions
            </h4>
        </div>
        @for (action of filteredActionList(situation_obj.actions, 'unique'); track i; let i = $index) {
        <div class="relative flex items-center mb-5">
            <!-- Surbrillance de la couleur sélectionnée -->
            <div [ngClass]="{'bg-gray-200 dark:bg-gray-600 rounded animate-fadeIn': actionSelected === action.id}"
                class="absolute -inset-2 -inset-x-5 z-0"></div>

            <!-- Div solution couleur -->
            <div class="relative z-10 flex items-center">
                <input type="input"
                    [ngClass]="{'bg-gray-200 dark:bg-gray-600 transition-all duration-300': actionSelected === action.id, 'dark:bg-secondary-dark-bg transition-none': actionSelected !== action.id}"
                    class="text-lg my-3 border-none w-20 text-center text-gray-800 dark:text-gray-300"
                    value="{{action.display_name}}" [id]="'input_' + action.id"
                    (input)="onChangeActionName(action.id, $event)" placeholder="-" autocomplete="off" />
                <div class="h-8 w-8 rounded shadow cursor-pointer ml-4 mr-8"
                    [ngStyle]="{'background': commonService.cellBackground(action, situation_objActionsRef)}"
                    (click)="onColorAction(action.id)"></div>
                <div (click)="onChangeAction(action.id)" id="add-solution-button" [id]="'button_' + action.id"
                    [ngClass]="{'hover:bg-gray-700 dark:hover:bg-gray-600 cursor-pointer transition-colors': actionSelected !== action.id}"
                    class="flex h-12 items-center w-40 justify-center rounded-md bg-gray-700 text-white dark:text-gray-200 px-5 text-base font-medium shadow transition-none">
                    @if (actionSelected !== action.id) {
                    <i class="fa-solid fa-palette mr-4 h-4 w-4"></i>
                    }
                    @if (actionSelected === action.id) {
                    <i class="fa-solid fa-check mr-4 h-4 w-4"></i>
                    }
                    {{actionSelected === action.id ? 'Choisi' : 'Sélectionner'}}
                </div>
            </div>
        </div>
        <!-- Div qui apparait lorsqu'on clique sur un carré color picker -->
        <div class="bg-white dark:bg-gray-700 p-4 rounded shadow-lg absolute ml-1 z-10 w-fit animate-appear opacity-0 duration-100 hidden"
            [id]="'color-picker-div_' + action.id">
            <div class="grid grid-cols-5 gap-2">
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #d80c05"
                    (click)="onSelectColor(action.id, '#d80c05')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #ff9100"
                    (click)="onSelectColor(action.id, '#ff9100')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #7a5a00"
                    (click)="onSelectColor(action.id, '#7a5a00')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #3f7a89"
                    (click)="onSelectColor(action.id, '#3f7a89')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #96c582"
                    (click)="onSelectColor(action.id, '#96c582')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #303030"
                    (click)="onSelectColor(action.id, '#303030')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #1c51ff"
                    (click)="onSelectColor(action.id, '#1c51ff')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #00aeff"
                    (click)="onSelectColor(action.id, '#00aeff')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #8350ff"
                    (click)="onSelectColor(action.id, '#8350ff')"></div>
                <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #e284ff"
                    (click)="onSelectColor(action.id, '#e284ff')"></div>
            </div>
        </div>
        }
        <div (click)="addUniqueAction()" id="add-solution-button"
            class="flex h-12 items-center w-fit justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-7 text-base font-medium shadow transition-colors cursor-pointer">
            <i class="fa-solid fa-plus mr-4 h-4 w-4"></i>
            Ajouter
        </div>
    </div>
</div>

<!-- Div conteneur SOLUTIONS MULTIPLES et CARACTÉRISTIQUES DE LA SITUATION -->
<div class="flex items-start justify-center w-full my-16 mx-auto h-[425px]">
    <!-- Div SOLUTIONS MULTIPLES-->
    <div
        class="mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150 w-1/2 h-full">
        <h4 class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            Solutions multiples</h4>
        <div class="multiples-solutions-container">
            @for (action of filteredActionList(situation_obj.actions, 'mixed'); track $index) {
            <div class="multiples-solutions">
                <div class="multiples-solutions-name">
                    {{action.display_name}}
                </div>
                <div class="color-picker-square"
                    [ngStyle]="{'background': commonService.cellBackground(action, situation_objActionsRef)}"></div>
                <label>
                    <input type="radio" name="radio_button" [id]="'radio_' + action.id" [value]="action.id"
                        (click)="onChangeAction(action.id)">
                    <span class="design"></span>
                </label>
                <ion-button (click)="editMultipleSolution(action.id)">
                    <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="deleteMultipleSolution(action.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </div>
            }
        </div>
        <div class="flex justify-center items-center">
            <div (click)="showAddMultiplesAction()"
                class="flex h-12 items-center w-1/4 justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                <i class="fa-solid fa-plus mr-4 h-4 w-4"></i>
                Ajouter
            </div>
        </div>
    </div>

    <!-- Div AJOUTER SOLUTIONS MULTIPLES-->
    <div class="animate-appear opacity-0 hidden">
        <div class="add-multiples-solutions" id="add-multiples-solutions">
            <ion-button (click)="resetMultipleSituation()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
            <h2 class="add-multiples-solutions-h2">Ajout d'une solution multiple</h2>
            <div class="div-input-text field input-name-multiples-solutions">
                <input [(ngModel)]="multipleSolutionName" type="text" class="styled-input-text" placeholder="Nom"
                    name="multipleSolution" id='multipleSolution' autocomplete="off" />
                <label for="multipleSolution" class="styled-input-text-label">Nom de la multiplicité</label>
            </div>
            @for (action of filteredActionList(situation_obj.actions, 'unique'); track i; let i = $index) {
            <div class="solution-selector">{{action.display_name}}<div class="color-picker-square"
                    [style]="'background: ' + action.color"></div>
                <input type="checkbox" class="cbx" [id]="'id_check_'+ action.id" (change)="onCheckChange($event)">
                <label [for]="'id_check_'+ action.id" class="check">
                    <svg width="18px" height="18px" viewBox="0 0 18 18">
                        <path
                            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                        </path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
            </div>
            }
            @if (simpleSlider) {
            <div class="custom-slider">
                <ngx-slider [(value)]="mixedSolutionSliderMinValue" [options]="options"></ngx-slider>
            </div>
            }
            @if (multipleSlider) {
            <div class="custom-slider">
                <ngx-slider [(value)]="mixedSolutionSliderMinValue" [(highValue)]="mixedSolutionSliderMaxValue"
                    [options]="options"></ngx-slider>
            </div>
            }
            <button class="fill addButton" id="add-multiple-solution-button"
                (click)="addMultipleAction()">Enregistrer</button>
        </div>
    </div>

    <!-- Div CARACTÉRISTIQUES DE LA SITUATION-->
    <div
        class="mx-auto p-5 ml-14 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-200 w-1/2 h-full">
        <h4 class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            Caractéristiques de la situation</h4>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Nom de la situation</div>
            <input [(ngModel)]="situation_obj.name" type="text" placeholder="Nom de la situation" name="situationName"
                class="flex h-10 w-1/3 transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-md ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 shadow-md"
                id='situationName' autocomplete="off" />
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Type de situation</div>
            <p-dropdown [(ngModel)]="situation_obj.type" [options]="availableSituationType"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Stack effectif</div>
            <p-inputNumber inputId="integeronly" [size]="10" [min]="0"
                [(ngModel)]="situation_obj.dealerMissingTokens"></p-inputNumber>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Nombre de joueurs sur la table</div>
            <p-dropdown [(ngModel)]="nbPlayer" [options]="availableNbPlayersTable" (onChange)="onChangeNbPlayersTable()"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Position</div>
            <p-dropdown [(ngModel)]="dealer" [options]="availableDealerPlayer" (onChange)="onChangeDealer()"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Niveau des adversaires</div>
            <p-dropdown [(ngModel)]="opponentLevel" [options]="availableOpponentsPlayersLevel"
                (onChange)="onChangeOpponentLevel()" optionLabel="name"></p-dropdown>
        </div>
    </div>
</div>

<!-- Bouton d'enregistrement de la situation -->
<div class="flex justify-center mt-10 mb-8 animate-appear opacity-0 animation-delay-200">
    <div (click)="saveSituation()"
        class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
        <i class="fa-solid fa-floppy-disk mr-3 h-4 w-4"></i>
        Enregistrer la situation
    </div>
</div>