@if (mode === 'new') {
<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0 m-0">
    Créer une nouvelle situation</h3>
<p class="text-gray-500 dark:text-gray-350 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Créez une nouvelle
    situation en renseignant ses ranges ainsi que ses caractèristiques.</p>
}
@if (mode === 'edit') {
<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0 m-0">
    Modifier une situation</h3>
<p class="text-gray-500 dark:text-gray-350 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Modifiez une de vos
    situations existante en renseignant ses nouvelles ranges et caractèristiques.</p>
}

<!-- Div container tableau + solutions -->
<div class="flex items-center justify-center w-10/12 my-16 mx-auto">

    <!-- Tableau des ranges -->
    <table (mouseleave)="endSelection($event)" oncontextmenu="return false;"
        class="mx-auto table-fixed border-separate border-spacing-1">
        <tbody>
            @for (row of situation_obj.situations; track i; let i = $index) {
            <tr class="table-row animate-appear opacity-0" [style.animation-delay]="i * 0.025+'s'">
                @for (item of row; track j; let j = $index) {
                <td class="rounded cursor-pointer font-bold select-none text-center align-middle p-2 py-3 bg-white dark:text-white hover:bg-gray-300 dark:bg-secondary-dark-bg dark:hover:bg-gray-600 shadow-xl"
                    (mousedown)="startSelection($event)" (mouseenter)="updateSelection($event)"
                    (mouseup)="endSelection($event)"
                    [ngStyle]="{'background': (item.action! | actionColor:situation_objActionsRef)}"
                    [ngClass]="item.action ? 'text-white dark:text-gray-200' : 'text-gray-800'">
                    {{item.card}}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>

    <!-- Div solutions -->
    <div
        class="text-gray-800 bg-white dark:bg-secondary-dark-bg w-110 rounded-lg py-5 px-7 shadow-lg mx-auto flex flex-col items-center mb-2 animate-appear opacity-0 animation-delay-100">
        <div class="text-left w-full">
            <h4 class="mb-4 text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider m-0">
                Solutions
            </h4>
        </div>
        @for (action of filteredActionList(situation_obj.actions, 'unique'); track i; let i = $index) {
        <div class="relative flex items-center mb-5">
            <!-- Surbrillance de la couleur sélectionnée -->
            <div [ngClass]="{'bg-gray-200 dark:bg-gray-600 rounded animate-fadeIn': actionSelected === action.id}"
                class="absolute -inset-2 -inset-x-5 z-0"></div>

            <!-- Ligne solution -->
            <div class="relative z-10 flex items-center">
                <input type="input"
                    [ngClass]="{'bg-gray-200 dark:bg-gray-600 transition-all duration-300': actionSelected === action.id, 'bg-white dark:bg-secondary-dark-bg transition-none': actionSelected !== action.id}"
                    class="  text-lg my-3 border-none w-20 text-center text-gray-800 dark:text-gray-300"
                    value="{{action.display_name}}" [id]="'input_' + action.id"
                    (input)="onChangeActionName(action.id, $event)" placeholder="-" autocomplete="off" />
                <div class="h-8 w-8 rounded shadow cursor-pointer ml-4 mr-8"
                    [ngStyle]="{'background': commonService.cellBackground(action, situation_objActionsRef)}"
                    (click)="onColorAction(action.id)"></div>
                <!-- <div #colorCell class="h-8 w-8 rounded shadow cursor-pointer ml-4 mr-8"
                        [ngStyle]="{'background': commonService.cellBackground(action, situation_objActionsRef)}"
                        (click)="onColorAction(action.id, colorCell)"></div> -->
                <div (click)="onChangeAction(action.id)" id="add-solution-button" [id]="'button_' + action.id"
                    [ngClass]="{'hover:bg-gray-700 dark:hover:bg-gray-600 cursor-pointer transition-colors': actionSelected !== action.id}"
                    class="flex h-12 items-center w-40 justify-center rounded-md bg-gray-700 text-white dark:text-gray-200 px-5 text-base font-medium shadow transition-none">
                    @if (actionSelected !== action.id) {
                    <i class="fa-solid fa-palette mr-4 h-4 w-4"></i>
                    }
                    @if (actionSelected === action.id) {
                    <i class="fa-solid fa-check mr-4 h-4 w-4"></i>
                    }
                    {{actionSelected === action.id ? 'Choisi' : 'Sélectionner'}}
                </div>
            </div>
            <!-- Div qui apparait lorsqu'on clique sur un carré color picker -->
            <div class="bg-white dark:bg-gray-700 p-4 mt-40 rounded shadow-lg absolute ml-1 z-50 w-fit animate-appear opacity-0 duration-100 hidden"
                [id]="'color-picker-div_' + action.id">
                <div class="grid grid-cols-5 gap-2">
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #d80c05"
                        (click)="onSelectColor(action.id, '#d80c05')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #ff9100"
                        (click)="onSelectColor(action.id, '#ff9100')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #7a5a00"
                        (click)="onSelectColor(action.id, '#7a5a00')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #3f7a89"
                        (click)="onSelectColor(action.id, '#3f7a89')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #96c582"
                        (click)="onSelectColor(action.id, '#96c582')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #303030"
                        (click)="onSelectColor(action.id, '#303030')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #1c51ff"
                        (click)="onSelectColor(action.id, '#1c51ff')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #00aeff"
                        (click)="onSelectColor(action.id, '#00aeff')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #8350ff"
                        (click)="onSelectColor(action.id, '#8350ff')"></div>
                    <div class="h-8 w-8 rounded shadow cursor-pointer" style="background: #e284ff"
                        (click)="onSelectColor(action.id, '#e284ff')"></div>
                </div>
            </div>
        </div>
        }
        <div (click)="addUniqueAction()" id="add-solution-button"
            class="flex h-12 items-center w-fit justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-7 text-base font-medium shadow transition-colors cursor-pointer">
            <i class="fa-solid fa-plus mr-4 h-4 w-5"></i>
            Ajouter
        </div>
    </div>
</div>

<!-- Div conteneur SOLUTIONS MULTIPLES et CARACTÉRISTIQUES DE LA SITUATION -->
<div class="flex items-start justify-center w-full my-16 mx-auto h-[440px]">
    <!-- Div SOLUTIONS MULTIPLES -->
    <div
        class="mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150 w-1/2 h-full">
        <h4 class="m-0 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            Solutions multiples</h4>

        <div class="max-h-[300px] overflow-y-auto overflow-x-hidden flex flex-col items-center justify-start pt-4">
            @for (action of filteredActionList(situation_obj.actions, 'mixed'); track $index) {
            <div class="relative flex items-center my-4 w-full">
                <!-- Surbrillance de la couleur sélectionnée -->
                <div [ngClass]="{'bg-gray-200 dark:bg-gray-600 rounded animate-fadeIn': actionSelected === action.id}"
                    class="absolute inset-0 -inset-y-2 rounded z-0"></div>

                <!-- Ligne solution multiple -->
                <div class="flex w-full items-center justify-evenly gap-4 px-3 relative z-10">
                    <div
                        class="w-5/12 text-lg border-none text-center text-gray-800 dark:text-gray-300 overflow-x-auto">
                        {{action.display_name}}
                    </div>
                    <div class="flex items-center justify-center px-2">
                        <div class="h-8 w-8 rounded shadow flex items-center justify-center"
                            [ngStyle]="{'background': commonService.cellBackground(action, situation_objActionsRef)}">
                        </div>
                    </div>
                    <div class="w-fit flex items-center justify-center">
                        <i class="fa-solid fa-pencil cursor-pointer p-3 dui-btn-ghost rounded-full transition-all duration-150 dark:text-gray-200 text-gray-800"
                            (click)="editMultipleSolution(action.id)"></i>
                    </div>
                    <div class="w-fit flex items-center justify-center">
                        <i class="fa-solid fa-trash-can cursor-pointer p-3 dui-btn-ghost rounded-full transition-all duration-150 dark:text-gray-200 text-gray-800"
                            (click)="deleteMultipleSolution(action.id)"></i>
                    </div>
                    <div (click)="onChangeAction(action.id)" id="add-solution-button" [id]="'button_' + action.id"
                        [ngClass]="{'hover:bg-gray-700 dark:hover:bg-gray-600 cursor-pointer transition-colors': actionSelected !== action.id}"
                        class="flex h-12 items-center justify-center rounded-md bg-gray-700 text-white dark:text-gray-200 text-base font-medium shadow transition-colors w-48">
                        @if (actionSelected !== action.id) {
                        <i class="fa-solid fa-palette mr-4 h-4 w-4"></i>
                        }
                        @if (actionSelected === action.id) {
                        <i class="fa-solid fa-check mr-4 h-4 w-4"></i>
                        }
                        {{actionSelected === action.id ? 'Choisi' : 'Sélectionner'}}
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="absolute bottom-5 left-1/2 transform -translate-x-1/2">
            <div (click)="showAddMultiplesActionModal()"
                class="flex h-12 items-center w-fit justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-6 text-base font-medium shadow transition-colors cursor-pointer">
                <i class="fa-solid fa-plus mr-4 h-4 w-5"></i>
                Ajouter
            </div>
        </div>
    </div>

    <!-- Div AJOUTER SOLUTIONS MULTIPLES-->
    <dialog id="add-multiples-solutions" class="dui-modal dui-modal-bottom sm:dui-modal-middle">
        <div class="dui-modal-box text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
            <form method="dialog">
                <button class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none"
                    (click)="resetMultipleSituation()">✕</button>
            </form>
            <h4
                class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                Ajout d'une Solution multiple
            </h4>
            @if (!autoMultipleSolutionName) {
            <div class="flex items-center justify-between w-full my-7">
                <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                    Nom de la solution
                </div>
                <input [(ngModel)]="multipleSolutionName" type="text" placeholder="Nom de la solution"
                    name="multipleSolutionName" id='multipleSolution' autocomplete="off" pInputText />
            </div>
            }

            @for (action of filteredActionList(situation_obj.actions, 'unique', true); track $index;) {
            <div class="flex justify-center items-center w-full my-4">
                <div class="grid grid-cols-3 w-1/2 items-center gap-4 px-3 mb-2">
                    <div class="flex justify-center items-center">
                        {{action.display_name}}
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="h-8 w-8 rounded shadow cursor-pointer m-0" [style]="'background: ' + action.color">
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <p-checkbox [(ngModel)]="multipleSolutionCheckBox" class="custom-checkbox"
                            name="multipleSolutionCheckBox" [value]="action.id" (onChange)="onCheckChange()" />
                    </div>
                </div>
            </div>
            }
            @if (simpleSlider) {
            <div class="custom-slider">
                <ngx-slider [(value)]="mixedSolutionSliderMinValue" [options]="options"></ngx-slider>
            </div>
            }
            @if (multipleSlider) {
            <div class="custom-slider">
                <ngx-slider [(value)]="mixedSolutionSliderMinValue" [(highValue)]="mixedSolutionSliderMaxValue"
                    [options]="options"></ngx-slider>
            </div>
            }
            <div class="flex justify-center mt-10">
                <div (click)="saveMultipleSolution()"
                    class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                    <i class="fa-solid fa-floppy-disk mr-3 h-4 w-4"></i>
                    Enregistrer la solution
                </div>
            </div>

        </div>
    </dialog>

    <!-- Div CARACTÉRISTIQUES DE LA SITUATION-->
    <div
        class="mx-auto p-5 ml-14 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-200 w-1/2 h-full">
        <h4 class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            Caractéristiques de la situation</h4>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Nom de la situation</div>
            <input [(ngModel)]="situation_obj.name" type="text" placeholder="Nom de la situation" name="situationName"
                id='situationName' autocomplete="off" pInputText />
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Type de situation</div>
            <div class="flex items-center justify-end w-1/3">
                <p-dropdown [(ngModel)]="situationType" type="text" name="situationType"
                    [options]="availableSituationType" (onChange)="onChangeSituationType()"
                    optionLabel="name"></p-dropdown>
            </div>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Stack effectif</div>
            <p-inputNumber inputId="integeronly" [size]="5" [min]="0" [max]="999"
                [(ngModel)]="situation_obj.dealerMissingTokens"></p-inputNumber>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Nombre de joueurs sur la table</div>
            <p-dropdown [(ngModel)]="nbPlayer" [options]="availableNbPlayersTable" (onChange)="onChangeNbPlayersTable()"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Position</div>
            <p-dropdown [(ngModel)]="position" [options]="availablePositionPlayer" (onChange)="onChangePosition()"
                optionLabel="name"></p-dropdown>
        </div>
        <div class="flex items-center justify-between w-full mt-4">
            <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">
                Niveau des adversaires</div>
            <p-dropdown [(ngModel)]="opponentLevel" [options]="availableOpponentsPlayersLevel"
                (onChange)="onChangeOpponentLevel()" optionLabel="name"></p-dropdown>
        </div>
    </div>
</div>

<!-- Bouton d'enregistrement de la situation -->
<div class="flex justify-center mt-10 mb-8 animate-appear opacity-0 animation-delay-200">
    <div (click)="saveSituation()"
        class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
        <i class="fa-solid fa-floppy-disk mr-3 h-4 w-4"></i>
        Enregistrer la situation
    </div>
</div>