<div [ngStyle]="{ 'width': commonService.isCollapsed ? '80px' : '255px' }"
    class="fixed h-full whitespace-nowrap overflow-hidden transition-all duration-500 bg-white dark:bg-secondary-dark-bg shadow-xl">
    <ul class="absolute w-full list-none m-0 p-0">
        <li class="mb-6 ml-3 mt-4 w-fit">
            <div (click)="commonService.redirectTo('home')" class="flex items-center cursor-pointer p-3 ">
                <img src="../../../assets/img/logo.png" alt="Logo" class="h-8 w-8">
                <span
                    class="ml-4 text-xl font-bold text-gray-800 dark:text-gray-200 transition-colors duration-500">Poker
                    HL</span>
            </div>
        </li>
        <li
            class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
            <div (click)="commonService.redirectTo('situations-list-training')"
                class="flex items-center justify-start px-3 py-4">
                <i
                    class="fa-solid fa-play ml-5 text-xl text-gray-800 dark:text-gray-200 transition-colors duration-500"></i>
                <span [ngClass]="{ 'ml-8': commonService.isCollapsed, 'ml-6': !commonService.isCollapsed }"
                    class="flex items-center justify-center text-md transition-all duration-500">Entraînement</span>
            </div>
        </li>
        <li
            class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
            <div (click)="commonService.redirectTo('situations-list-manager')"
                class="flex items-center justify-start px-3 py-4">
                <i
                    class="fa-solid fa-tasks ml-5 text-lg text-gray-800 dark:text-gray-200 transition-colors duration-500"></i>
                <span [ngClass]="{ 'ml-8': commonService.isCollapsed, 'ml-6': !commonService.isCollapsed }"
                    class="flex items-center justify-center text-md transition-all duration-500">Situations</span>
            </div>
        </li>
        <li
            class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
            <a href="https://www.clubpoker.net/lexique-poker" target="_blank"
                class="flex items-center justify-start px-3 py-4 no-underline text-gray-800 dark:text-gray-200">
                <i class="fa-solid fa-spell-check ml-5 text-lg transition-all duration-500"></i>
                <span [ngClass]="{ 'ml-8': commonService.isCollapsed, 'ml-6': !commonService.isCollapsed }"
                    class="flex items-center justify-center text-md transition-all duration-500">Lexique</span>
            </a>
        </li>
        <li
            class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
            <div (click)="commonService.redirectTo('settings')" class="flex items-center justify-start px-3 py-4">
                <i
                    class="fa-solid fa-gear ml-5 text-lg text-gray-800 dark:text-gray-200 transition-colors duration-500"></i>
                <span [ngClass]="{ 'ml-8': commonService.isCollapsed, 'ml-6': !commonService.isCollapsed }"
                    class="flex items-center justify-center text-md transition-all duration-500">Paramètres</span>
            </div>
        </li>
    </ul>
    <div class="absolute bottom-0 flex items-center p-4">
        <div class="dui-avatar">
            <div class="w-12 rounded-full shadow-lg">
                <img
                    src="https://imgs.search.brave.com/QBZ3pjIkCvxe93Tm8VrevCLN6-iloSH7DHAj50TWzws/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzgyLzVj/L2UyLzgyNWNlMjlj/MWZkNTllYzk3Njc2/NzlhY2ZjODM4ZWI5/LmpwZw" />
            </div>
        </div>
        <div [ngClass]="{ 'whitespace-nowrap overflow-hidden': commonService.isCollapsed }" class="ml-4">
            <p class="font-semibold text-gray-800 dark:text-gray-200 transition-colors duration-500 m-0 mb-1">Hugo Eribon</p>
            <div (click)="commonService.redirectTo('settings')"
                class="hover:underline text-gray-800 dark:text-gray-200 cursor-pointer transition-colors duration-500">
                Gérer le compte</div>
        </div>
    </div>
</div>
<div [ngStyle]="{ left: commonService.isCollapsed ? '80px' : '255px' }" (click)="toggleSidebar()"
    class="flex justify-center items-center z-10 fixed top-8 transform -translate-x-1/2 rounded-full w-7 h-7 text-xl transition-all duration-500 bg-white dark:bg-secondary-dark-bg text-gray-800 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-600 border border-gray-400 cursor-pointer">
    <i class="fa-solid fa-angle-left text-base"
        [ngClass]="{ 'transform rotate-180': commonService.isCollapsed, 'transform rotate-0': !commonService.isCollapsed }"></i>
</div>