<div class="relative h-[calc(100vh-64px)]">
    @if (activeSituation) {
    <div class="flex-col justify-center items-center">
        <div class="flex justify-center items-center pt-10 animate-appear opacity-0">
            <div class="relative w-full max-w-[50vw] h-[27vw] rounded-full border-solid border-8 border-gray-800 dark:border-gray-300 shadow-2xl"
                [style.background]="backgroundColor">
                <div class="flex items-center justify-center w-full h-full">
                    <h1 class="opacity-60 font-semibold italic text-7xl select-none flex flex-col items-center">
                        Poker HL
                    </h1>
                </div>

                <!-- Adversaire du milieu -->
                @if (activeSituation.nbPlayer === 2) {
                    <div
                        class="absolute top-[-10%] left-1/2 w-64 transform -translate-x-1/2 bg-secondary-dark-bg text-white tracking-wider dark:text-gray-300 shadow-lg rounded-lg flex items-center justify-center py-3">
                        <div class="w-1/2 flex flex-col items-center justify-center gap-1 pl-5">
                            @if (activeSituation.opponentLevel == "fish"){
                                <i class="fa-solid fa-fish-fins text-2xl my-1"></i>
                            } @else if (activeSituation.opponentLevel == "shark") {
                                <i class="fa-solid fa-crown text-2xl my-1"></i>
                            }
                            <h3 class="m-0">Adversaire</h3>
                            <h3 class="m-0 text-xl">{{activeSituation.dealerMissingTokens}} BB</h3>
                            <!-- Dealer coin -->
                            @if (activeSituation.position == 'bb') {
                                <div
                                    class="absolute top-[80%] left-[120%] w-[2.5vw] h-[2.5vw] bg-gray-300 text-gray-800 rounded-full shadow-inner select-none transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                                    <span class="text-2xl ml-0.5 mt-0.5 font-bold">D</span>
                                </div>
                            }
                        </div>
                        <div class="w-1/2 flex items-center justify-center">
                            <app-default-cards></app-default-cards>
                        </div>
                    </div>
                }

                <!-- Adversaire de gauche -->
                @if (activeSituation.nbPlayer === 3) {
                    <div
                        class="absolute top-[2%] left-[10%] w-64 transform -translate-x-1/2 bg-secondary-dark-bg text-white tracking-wider dark:text-gray-300 shadow-lg rounded-lg flex items-center justify-center py-3">
                        <div class="w-1/2 flex flex-col items-center justify-center gap-1 pl-5">
                            @if (activeSituation.opponentLevel == "fish"){
                                <i class="fa-solid fa-fish-fins text-2xl my-1"></i>
                            } @else if (activeSituation.opponentLevel == "shark") {
                                <i class="fa-solid fa-crown text-2xl my-1"></i>
                            } @else if (activeSituation.opponentLevel == "fish_shark") {
                                @if (getFishPosition(activeSituation.position!, activeSituation.fishPosition!) === "opponent1") {
                                    <i class="fa-solid fa-fish-fins text-2xl my-1"></i>
                                } @else {
                                    <i class="fa-solid fa-crown text-2xl my-1"></i>
                                }
                            }
                            <h3 class="m-0">Adversaire</h3>
                            <h3 class="m-0 text-xl">{{activeSituation.dealerMissingTokens}} BB</h3>
                            <!-- Dealer coin -->
                            @if (activeSituation.position == 'bb') {
                            <div
                                class="absolute top-[130%] left-[40%] w-[2.5vw] h-[2.5vw] bg-gray-300 text-gray-800 rounded-full shadow-inner select-none transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                                <span class="text-2xl ml-0.5 mt-0.5 font-bold">D</span>
                            </div>
                            }
                        </div>
                        <div class="w-1/2 flex items-center justify-center">
                            <app-default-cards></app-default-cards>
                        </div>
                    </div>

                    <!-- Adversaire de droite -->
                    <div
                        class="absolute top-[2%] left-[90%] w-64 transform -translate-x-1/2 bg-secondary-dark-bg text-white tracking-wider dark:text-gray-300 shadow-lg rounded-lg flex items-center justify-center py-3">
                        <div class="w-1/2 flex flex-col items-center justify-center gap-1 pl-5">
                            @if (activeSituation.opponentLevel == "fish"){
                                <i class="fa-solid fa-fish-fins text-2xl my-1"></i>
                            } @else if (activeSituation.opponentLevel == "shark") {
                                <i class="fa-solid fa-crown text-2xl my-1"></i>
                            } @else if (activeSituation.opponentLevel == "fish_shark") {
                                @if (getFishPosition(activeSituation.position!, activeSituation.fishPosition!) === "opponent2") {
                                    <i class="fa-solid fa-fish-fins text-2xl my-1"></i>
                                } @else {
                                    <i class="fa-solid fa-crown text-2xl my-1"></i>
                                }
                            }
                            <h3 class="m-0">Adversaire</h3>
                            <h3 class="m-0 text-xl">{{activeSituation.dealerMissingTokens}} BB</h3>
                            <!-- Dealer coin -->
                            @if (activeSituation.position == 'sb') {
                                <div
                                    class="absolute top-[130%] left-[60%] w-[2.5vw] h-[2.5vw] bg-gray-300 text-gray-800 rounded-full shadow-inner select-none transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                                    <span class="text-2xl ml-0.5 mt-0.5 font-bold">D</span>
                                </div>
                            }
                        </div>
                        <div class="w-1/2 flex items-center justify-center">
                            <app-default-cards></app-default-cards>
                        </div>
                    </div>
                }

                <!-- Joueur -->
                <div
                    class="absolute top-[86%] w-64 left-1/2 transform -translate-x-1/2 bg-secondary-dark-bg text-white tracking-wider dark:text-gray-300 shadow-lg rounded-lg flex items-center justify-center py-3">
                    <div class="w-1/2 flex flex-col items-center justify-center gap-1">
                        <i class="fa-solid fa-user text-2xl my-1"></i>
                        <h3 class="m-0">Vous</h3>
                        <h3 class="m-0 text-xl">{{activeSituation.dealerMissingTokens}} BB</h3>
                        <!-- Dealer coin -->
                        @if (activeSituation.nbPlayer === 2) {
                            @if (activeSituation.position == 'sb') {
                                <div
                                    class="absolute top-[20%] left-[120%] w-[2.5vw] h-[2.5vw] bg-gray-300 text-gray-800 rounded-full shadow-inner select-none transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                                    <span class="text-2xl ml-0.5 mt-0.5 font-bold">D</span>
                                </div>
                            }
                        }
                        @if (activeSituation.nbPlayer === 3) {
                            @if (activeSituation.position == 'bu') {
                                <div
                                    class="absolute top-[20%] left-[120%] w-[2.5vw] h-[2.5vw] bg-gray-300 text-gray-800 rounded-full shadow-inner select-none transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                                    <span class="text-2xl ml-0.5 mt-0.5 font-bold">D</span>
                                </div>
                            }
                        }
                    </div>
                    <div class="w-1/2 flex items-center justify-center select-none">
                        <div class="relative bg-white h-20 w-14 text-gray-800 rounded-sm">
                            <span class="absolute top-[-5%] left-0 ml-1 mt-1 text-3xl font-bold" [ngStyle]="{color: activeSituation.left_card.color.color}">{{activeSituation.left_card.value}}</span>
                            <div class="absolute bottom-[-10%] left-1/2 transform -translate-x-1/2 mb-1 text-6xl">
                                @switch (activeSituation.left_card.color.name) {
                                    @case ("club") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.left_card.color.color"
                                                d="M380 160.1c2.6-10.2 4-21 4-32.1C384 57.3 326.7 0 256 0S128 57.3 128 128c0 11.1 1.4 21.8 4 32.1c-1.3 0-2.7-.1-4-.1C57.3 160 0 217.3 0 288s57.3 128 128 128c38.2 0 72.5-16.8 96-43.3V448H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H320c17.7 0 32-14.3 32-32s-14.3-32-32-32H288V372.7c23.5 26.6 57.8 43.3 96 43.3c70.7 0 128-57.3 128-128s-57.3-128-128-128c-1.4 0-2.7 0-4 .1z" />
                                        </svg>
                                    }
                                    @case ("diamond") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.left_card.color.color"
                                                d="M284.3 11.7c-15.6-15.6-40.9-15.6-56.6 0l-216 216c-15.6 15.6-15.6 40.9 0 56.6l216 216c15.6 15.6 40.9 15.6 56.6 0l216-216c15.6-15.6 15.6-40.9 0-56.6l-216-216z" />
                                        </svg>
                                    }
                                    @case ("heart") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.left_card.color.color"
                                                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                                        </svg>
                                    }
                                    @case ("spade") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.left_card.color.color"
                                                d="M278 12.5c-12.3-11.7-31.7-11.7-44 0L168 75.1 40 196.3c-51.3 48.6-53.5 129.6-4.9 181s129.6 53.5 181 4.9l8-7.6V448H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H320c17.7 0 32-14.3 32-32s-14.3-32-32-32H288V374.6l8 7.6c51.3 48.6 132.3 46.4 181-4.9s46.4-132.3-4.9-181L344 75.1 278 12.5z" />
                                        </svg>
                                    }
                                }
                            </div>
                        </div>
                        <div
                            class="relative bg-white h-20 w-14 border-l border-l-gray-800 border-t-0 border-r-0 border-b-0 border-solid text-gray-800 -ml-[15%] rounded-sm">
                            <span class="absolute top-[-5%] left-0 ml-1 mt-1 text-3xl font-bold" [ngStyle]="{color: activeSituation.right_card.color.color}">{{activeSituation.right_card.value}}</span>
                            <div class="absolute bottom-[-10%] left-1/2 transform -translate-x-1/2 mb-1 text-6xl">
                                @switch (activeSituation.right_card.color.name) {
                                    @case ("club") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.right_card.color.color"
                                                d="M380 160.1c2.6-10.2 4-21 4-32.1C384 57.3 326.7 0 256 0S128 57.3 128 128c0 11.1 1.4 21.8 4 32.1c-1.3 0-2.7-.1-4-.1C57.3 160 0 217.3 0 288s57.3 128 128 128c38.2 0 72.5-16.8 96-43.3V448H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H320c17.7 0 32-14.3 32-32s-14.3-32-32-32H288V372.7c23.5 26.6 57.8 43.3 96 43.3c70.7 0 128-57.3 128-128s-57.3-128-128-128c-1.4 0-2.7 0-4 .1z" />
                                        </svg>
                                    }
                                    @case ("diamond") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.right_card.color.color"
                                                d="M284.3 11.7c-15.6-15.6-40.9-15.6-56.6 0l-216 216c-15.6 15.6-15.6 40.9 0 56.6l216 216c15.6 15.6 40.9 15.6 56.6 0l216-216c15.6-15.6 15.6-40.9 0-56.6l-216-216z" />
                                        </svg>
                                    }
                                    @case ("heart") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.right_card.color.color"
                                                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" />
                                        </svg>
                                    }
                                    @case ("spade") {
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-9 h-fit">
                                            <path [attr.fill]="activeSituation.right_card.color.color"
                                                d="M278 12.5c-12.3-11.7-31.7-11.7-44 0L168 75.1 40 196.3c-51.3 48.6-53.5 129.6-4.9 181s129.6 53.5 181 4.9l8-7.6V448H192c-17.7 0-32 14.3-32 32s14.3 32 32 32H320c17.7 0 32-14.3 32-32s-14.3-32-32-32H288V374.6l8 7.6c51.3 48.6 132.3 46.4 181-4.9s46.4-132.3-4.9-181L344 75.1 278 12.5z" />
                                        </svg>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Div des boutons de réponses -->
        <div
            class="mt-16 flex gap-4 w-fit text-md mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-100 transition-colors duration-500">
            @for (action of filteredActionList(activeSituation.actions, 'unique'); track $index) {
            @if (action.display_name) {
            <div class="inline-flex h-12 w-32 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer"
                [id]="'button_' + action.id" (click)="checkResultCase(action.id)">{{action.display_name}}</div>
            }
            }
        </div>
    </div>
    }

    <!-- Div affichée lors d'une mauvaise réponse -->
    <dialog id="wrong-answer-modal" class="dui-modal">
        <div class="dui-modal-box w-fit max-w-5xl text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
            <form method="dialog">
                <button
                    class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none">✕</button>
            </form>
            @if (currentSituation) {
            <h4
                class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                Mauvaise réponse...
            </h4>
            <div class="flex justify-center items-center">
                <div class="mx-auto table-fixed border-separate border-spacing-1 ml-5">
                    <table>
                        <tbody>
                            @for (row of currentSituation.situations; track $index) {
                                <tr class="table-row animate-appear opacity-0">
                                    @for (item of row; track $index) {
                                        <td class="rounded select-none font-semibold text-center align-middle p-2 py-3 text-white shadow-xl"
                                            [style.background]="(item.action! | actionColor:currentSituation.actions)">
                                            {{item.card}}
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class=" ml-6 mr-5">
                    @for (action of activeSituation.actions; track i; let i = $index) {
                        @if (action.display_name) {
                            <div
                                class="grid grid-cols-[80%_20%] items-center text-lg my-3 text-gray-800 tracking-wider dark:text-gray-300">
                                {{action.display_name}}
                                <div class="h-7 w-7 ml-2 rounded shadow-md"
                                    [ngStyle]="{'background': (action.id | actionColor:activeSituation.actions)}"></div>
                            </div>
                        }
                    }
                </div>

            </div>
            <div class="flex justify-center mt-10 mb-8 animate-appear opacity-0 animation-delay-200">
                <div (click)="closeModal()"
                    class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                    Compris !
                </div>
            </div>
            }
        </div>
    </dialog>

    <!-- Div des infos -->
    <div
        class="absolute -left-10 -bottom-3 text-gray-800 tracking-wider dark:text-gray-300 w-fit text-md mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-200">
        <div class="mb-1">
            <span class="font-semibold">Randomizer :</span>
            {{randomizer}}%
        </div>
        <div class="mb-1">
            <span class="font-semibold">Ratio W/L :</span> {{GoodResponse}} / {{BadResponse}}
        </div>
        <div class="mb-1">
            <span class="font-semibold">Taux de réussite :</span> {{SuccessRatePercentage}}%
        </div>
        @if(displaySituation){
        <span class="font-semibold">Situation actuelle :</span> {{currentSituationName}}
        }
    </div>

    <!-- Compte à rebours -->
    <div
        class="hidden absolute -right-10 -bottom-3 text-gray-800 tracking-wider dark:text-gray-300 w-fit text-md mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-200">
        <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
            <div class="flex flex-col">
                <span class="dui-countdown text-5xl">
                    <span [style.--value]="hours"></span>
                </span>
                heure
            </div>
            <div class="flex flex-col">
                <span class="dui-countdown text-5xl">
                    <span [style.--value]="minutes"></span>
                </span>
                min
            </div>
            <div class="flex flex-col">
                <span class="dui-countdown text-5xl">
                    <span [style.--value]="seconds"></span>
                </span>
                sec
            </div>
        </div>
    </div>
</div>