@if (activeSituation) {
<div class="flex_container">
    <div class="poker_table_container">
        <div class="poker_table" [style.background]="backgroundColor">
            <h1>Poker
                Trainer<br><span>&#9824;</span><span>&#9830;</span><span>&#9829;</span><span>&#9827;</span>
            </h1>

            <!-- Adversaire du milieu  -->
            @if (activeSituation.nbPlayer == 2) {
            <div class="playerBox oponentBox0">
                <div>
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                </div>
            </div>
            @if (activeSituation.dealer == 'opponent1') {
            <div class="dealer-coin dealer-coin-oponent0">
                <span class="dealer-coin-text">D</span>
            </div>
            }
            <hr class="oponent0Hr">
            <div class="cardContainer oponent0Cards" style="width: 50%;">
                <img class="card leftCard" src="../../../assets/img/cards/{{cardStyle}}/default.png">
                <img class="card" src="../../../assets/img/cards/{{cardStyle}}/default.png">
            </div>
            }
            <!-- Adversaire de gauche  -->
            @if (activeSituation.nbPlayer == 3) {
            <div class="playerBox oponentBox1">
                <div>
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                </div>
            </div>
            @if (activeSituation.dealer == 'opponent1') {
            <div class="dealer-coin dealer-coin-oponent1">
                <span class="dealer-coin-text">D</span>
            </div>
            }
            <hr class="oponent1Hr">
            <div class="cardContainer oponent1Cards">
                <img class="card leftCard" src="../../../assets/img/cards/{{cardStyle}}/default.png">
                <img class="card" src="../../../assets/img/cards/{{cardStyle}}/default.png">
            </div>
            }


            <!-- Adversaire de droite  -->
            @if (activeSituation.nbPlayer == 3) {
            <div class="playerBox oponentBox2">
                <div>
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                </div>
            </div>
            @if (activeSituation.dealer == 'opponent2') {
            <div class="dealer-coin dealer-coin-oponent2">
                <span class="dealer-coin-text">D</span>
            </div>
            }

            <hr class="oponent2Hr">
            <div class="cardContainer oponent2Cards">
                <img class="card leftCard" src="../../../assets/img/cards/{{cardStyle}}/default.png">
                <img class="card" src="../../../assets/img/cards/{{cardStyle}}/default.png">
            </div>
            }

            <!-- Joueur  -->
            <div class="playerBox userBox">
                <div>
                    <ion-icon name="person-outline"></ion-icon>
                    <h2>Vous</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                    @if (activeSituation.dealer == 'you') {
                    <div class="dealer-coin dealer-coin-player">
                        <span class="dealer-coin-text">D</span>
                    </div>
                    }

                </div>
            </div>
            <div class="cardContainer userCards">
                <img class="card leftCard"
                    src="../../../assets/img/cards/{{cardStyle}}/{{activeSituation.left_card}}.png">
                <img class="card" src="../../../assets/img/cards/{{cardStyle}}/{{activeSituation.right_card}}.png">
            </div>
            <hr class="userHr">
        </div>
    </div>
    <div class="answer_div_container">
        <div class="answer_div">
            @for (action of filteredActionList(activeSituation.actions, 'unique'); track $index) {
            @if (action.display_name) {
            <button class="fill" [id]="'button_' + action.id"
                (click)="checkResultCase(action.id)">{{action.display_name}}</button>
            }
            }
        </div>
    </div>
</div>
}
<dialog id="wrong-answer-modal" class="dui-modal dui-modal-bottom sm:dui-modal-middle">
    <div class="dui-modal-box text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
        <form method="dialog">
            <button
                class="dui-btn dui-btn-sm dui-btn-circle dui-btn-ghost absolute right-2 top-2 outline-none">✕</button>
        </form>
        @if (currentSituation) {
        <div>
            <h4
                class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                Mauvaise réponse...
            </h4>
            <div class="flex justify-center items-center">
                <div class="mx-auto table-fixed border-separate border-spacing-1">
                    <table>
                        <tbody>
                            @for (row of currentSituation.situations; track $index) {
                            <tr>
                                @for (item of row; track $index) {
                                <td [style.background]="(item.action! | actionColor:currentSituation.actions)">
                                    {{item.card}}
                                </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- <div class="color-solution-container">
                    @for (action of activeSituation.actions; track i; let i = $index) {
                    @if (action.display_name) {
                    <div class="color-solution">
                        {{action.display_name}}
                        <div class="color-picker-square"
                            [ngStyle]="{'background': (action.id | actionColor:activeSituation.actions)}"></div>
                    </div>
                    }
                    }
                </div> -->
            </div>
            <button class="fill" (click)="closeErrorWindow()">Compris !</button>
        </div>
        }
    </div>
</dialog>

<div
    class="text-gray-800 tracking-wider dark:text-gray-300 w-fit text-md mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150 transition-colors duration-500">
    <div class="mb-1">
        <span class="font-semibold">Randomizer :</span>
        {{randomizer}}%
    </div>
    <div class="mb-1">
        <span class="font-semibold">Ratio W/L :</span> {{GoodResponse}} / {{BadResponse}}
    </div>
    <div class="mb-1">
        <span class="font-semibold">Taux de réussite :</span> {{SuccessRatePercentage}}%
    </div>
    <span class="font-semibold">Situation actuelle :</span> {{currentSituationName}}
</div>

<div
    class="text-gray-800 tracking-wider dark:text-gray-300 w-fit text-md mx-auto p-5 rounded-lg shadow-lg bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150 transition-colors duration-500">
    <div class="grid grid-flow-col gap-5 text-center auto-cols-max">
        <div class="flex flex-col">
            <span class="dui-countdown text-5xl">
                <span [style.--value]="hours"></span>
            </span>
            heure
        </div>
        <div class="flex flex-col">
            <span class="dui-countdown text-5xl">
                <span [style.--value]="minutes"></span>
            </span>
            min
        </div>
        <div class="flex flex-col">
            <span class="dui-countdown text-5xl">
                <span [style.--value]="seconds"></span>
            </span>
            sec
        </div>
    </div>
</div>