<ion-button class="backArrow" (click)="redirectTo('home')">
    <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>
<h1>Gérer les situations</h1>
<p>Supprimez, modifiez ou créez des situations</p>
<div class="container">
    <p-table [value]="situationList" dataKey="id" [rows]="nbRowsPerPage" [showCurrentPageReport]="true"
        [paginator]="true">
        <ng-template pTemplate="header">
            <tr class="animate__animated animate__fadeIn">
                <th>
                    <div class="flex align-items-center">
                        Nom
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Nb BB minimum
                        <p-columnFilter type="numeric" field="dealerMissingTokens" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Nb joueurs
                        <p-columnFilter type="numeric" field="nbPlayer" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Joueur bouton
                        <p-columnFilter type="text" field="dealer" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex align-items-center">
                        Niveau
                        <p-columnFilter type="text" field="opponentLevel" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="width: 4.5rem"></th>
                <th style="width: 4.5rem"></th>
                <th style="width: 4.5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-situation let-i="rowIndex">
            <tr class="animate__animated animate__fadeIn"
                [style.animation-delay]="0.1 + (i % nbRowsPerPage) * 0.1 + 's'">
                <td>
                    {{ situation.name }}
                </td>
                <td>
                    {{ situation.dealerMissingTokens }}
                </td>
                <td>
                    {{ situation.nbPlayer }}
                </td>
                <td>
                    {{ situation.dealer! | dealer }}
                </td>
                <td>
                    {{ situation.opponentLevel! | opponentLevel }}
                </td>
                <td>
                    <ion-button class="icon-div" (click)="duplicateSituation(situation.id)">
                        <ion-icon name="copy-outline"></ion-icon>
                    </ion-button>
                </td>
                <td>
                    <ion-button class="icon-div" (click)="editSituation(situation.id)">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </ion-button>
                </td>
                <td>
                    <ion-button class="icon-div" (click)="removeSituation(situation.id)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Aucune situation trouvée.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<button class="fill" (click)="redirectTo('situations-manager')">Créer une nouvelle situation</button>