<h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-300 animate-appear opacity-0 m-0">
    Gestion des situations</h3>
<p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-10 text-left animate-appear opacity-0">Supprimez, modifiez ou
    créez des situations.</p>
<div class="animate-appear opacity-0 animation-delay-100 w-11/12 min-w-[525px] mx-auto shadow-lg">
    <p-table [value]="situationList" dataKey="id" [paginator]="true" [rows]="nbRowsPerPage">
        <ng-template pTemplate="header">
            <tr class="dark:text-gray-300 dark:bg-secondary-dark-bg">
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg rounded-tl-md dark:border-gray-700">
                    <div class="flex items-center">
                        Nom
                        <p-columnFilter type="text" field="name" display="menu" class="ml-2"></p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Type
                        <p-columnFilter (onShow)="openMultiSelect()" field="type" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect #multiSelect [ngModel]="value" [options]="typeLst" placeholder="Type"
                                    (onChange)="filter($event.value)" optionLabel="name" optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Stack effectif
                        <p-columnFilter type="numeric" field="stack" display="menu" class="ml-2"></p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Nb joueurs
                        <p-columnFilter (onShow)="openMultiSelect()" field="nbPlayer" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect #multiSelect [ngModel]="value" [options]="nbPlayerLst"
                                    placeholder="Nombre de joueur" (onChange)="filter($event.value)" optionLabel="name"
                                    optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Position
                        <p-columnFilter (onShow)="openMultiSelect()" field="position" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect #multiSelect [ngModel]="value" [options]="positionLst"
                                    placeholder="Position" (onChange)="filter($event.value)" optionLabel="name"
                                    optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                    <div class="flex items-center">
                        Niveau
                        <p-columnFilter (onShow)="openMultiSelect()" field="opponentLevel" matchMode="in" display="menu"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                            [showApplyButton]="false" class="ml-2">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect #multiSelect [ngModel]="value" [options]="opponentLevelLst"
                                    placeholder="Niveau" (onChange)="filter($event.value)" optionLabel="name"
                                    optionValue="value">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="ml-1 mt-1">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </div>
                </th>
                <th class="w-16 bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700"></th>
                <th class="w-16 bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700"></th>
                <th class="w-16 bg-white dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700"></th>
                <th
                    class="w-16 bg-white dark:text-gray-300 dark:bg-secondary-dark-bg rounded-tr-md dark:border-gray-700">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-situation let-i="rowIndex">
            <tr class="dark:text-gray-300 dark:bg-secondary-dark-bg">
                <td class="dark:border-gray-700">
                    {{ situation.name }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.type | type }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.stack }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.nbPlayer }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.position | position }}
                </td>
                <td class="dark:border-gray-700">
                    {{ situation.opponentLevel! | opponentLevel }}
                </td>
                <td class="dark:border-gray-700">
                    <i class="fa-solid fa-eye cursor-pointer p-[0.69rem] dui-btn-ghost rounded-full transition-all duration-150"
                        (click)="displaySituation(situation)"></i>
                </td>
                <td class="dark:border-gray-700">
                    <i class="fa-solid fa-clone cursor-pointer p-[0.69rem] dui-btn-ghost rounded-full transition-all duration-150"
                        (click)="duplicateSituation(situation.id)"></i>
                </td>
                <td class="dark:border-gray-700">
                    <i class="fa-solid fa-pencil cursor-pointer p-[0.69rem] dui-btn-ghost rounded-full transition-all duration-150"
                        (click)="editSituation(situation.id)"></i>
                </td>
                <td class="dark:border-gray-700">
                    <i class="fa-solid fa-trash-can cursor-pointer p-[0.69rem] dui-btn-ghost rounded-full transition-all duration-150"
                        (click)="removeSituation(situation.id)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="dark:text-gray-300 dark:bg-secondary-dark-bg dark:border-gray-700">
                <td colspan="10">Aucune situation trouvée.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex justify-center mt-10 animate-appear opacity-0 animation-delay-150">
    <div (click)="commonService.redirectTo('situations-manager')"
        class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
        <i class="fa-solid fa-plus mr-3 h-4 w-4"></i>
        Créer une nouvelle situation
    </div>
</div>

<!-- Div affichée lors d'un click sur icon "oeil" pour voir la situation -->
<dialog id="displaySituationModal" class="dui-modal">
    <div class="dui-modal-box w-fit max-w-5xl text-gray-800 dark:text-gray-300 bg-white dark:bg-secondary-dark-bg">
        @if (situationToDisplay) {
        <h4
            class="m-0 mb-4 text-center text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
            {{situationToDisplay.name}}
        </h4>
        <div class="flex justify-center items-center mb-3">
            <div class="mx-auto table-fixed border-separate border-spacing-1 ml-5">
                <table>
                    <tbody>
                        @for (row of situationToDisplay.situations; track $index) {
                        <tr class="table-row">
                            @for (item of row; track $index) {
                            <td class="rounded select-none font-semibold text-center align-middle p-2 py-3 text-white shadow-xl"
                                [style.background]="(item.solution! | solutionColor:situationToDisplay.solutions)">
                                {{item.card}}
                            </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="ml-6 mr-5">
                <h4
                    class="m-0 mb-2 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                    Solutions
                </h4>
                @for (solution of situationToDisplay.solutions; track i; let i = $index) {
                @if (solution.display_name) {
                <div
                    class="grid grid-cols-[80%_20%] items-center text-lg my-3 text-gray-800 tracking-wider dark:text-gray-300">
                    {{solution.display_name}}
                    <div class="h-7 w-7 ml-2 rounded shadow-md"
                        [ngStyle]="{'background': (solution.id | solutionColor:situationToDisplay.solutions)}"></div>
                </div>
                }
                }
            </div>
        </div>
        }
    </div>
    <form method="dialog" class="dui-modal-backdrop">
        <button class="outline-none border-none bg-transparent"></button>
    </form>
</dialog>