<div class="w-1/2 flex items-center justify-center select-none relative">
    <div class="absolute inset-0 m-1 border-solid border-2 border-gray-800 pointer-events-none"></div>
    <div class="flex items-center justify-center bg-white h-20 w-24 text-gray-800 rounded-sm relative z-10">
        <img class="w-5/6" src="../../../assets/img/logo.png">
    </div>
    <div
        class="flex items-center justify-center bg-white h-20 w-24 border-l border-l-gray-800 border-t-0 border-r-0 border-b-0 border-solid text-gray-800 -ml-[15%] rounded-sm relative z-10">
        <img class="w-5/6" src="../../../assets/img/logo.png">
    </div>
</div>