<div class="relative flex items-center justify-end select-none pr-4">
    <div class="relative bg-white h-20 w-14 text-gray-800 rounded-sm">
        <div class="flex items-center justify-center bg-white h-20 w-14 rounded-sm px-7">
            <img src="../../../assets/img/logo.png" class="w-12">
        </div>
    </div>
    <div
        class="relative bg-white h-20 w-14 border-l border-l-gray-800 border-t-0 border-r-0 border-b-0 border-solid text-gray-800 -ml-[15%] rounded-sm">
        <div class="flex items-center justify-center bg-white h-20 w-14 rounded-sm z-10 px-7">
            <img src="../../../assets/img/logo.png" class="w-12">
        </div>
    </div>
</div>