<section class="flex min-h-screen items-center justify-center bg-gray-100 dark:bg-main-dark-bg">
    <div
        class="max-w-lg mx-auto space-y-8 rounded-lg p-6 md:p-8 lg:p-10 shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0">
        <div class="space-y-2 text-center">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 dark:text-gray-300">Modifier votre mot
                de passe
            </h1>
            <p class="text-base md:text-sm lg:text-lg text-gray-500 dark:text-gray-300">Afin de modifier le mot de passe
                de votre compte, veuillez remplir les champs ci dessous.</p>
        </div>
        <div class="space-y-6">
            <div class="space-y-2">
                <label
                    class="text-xs md:text-sm lg:text-base font-medium leading-none flex items-center gap-2 text-gray-800 dark:text-gray-300"
                    for="password">
                    <i class="fa-solid fa-lock text-gray-800 dark:text-gray-300"></i>
                    Ancien mot de passe
                </label>
                <div class="relative flex items-center">
                    <input
                        class="flex h-10 md:h-12 w-full rounded-md border border-input bg-background px-3 md:px-4 py-2 text-base text-black dark:text-gray-200 dark:bg-main-dark-bg dark:border-gray-500 ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
                        id="password" placeholder="Entrez votre ancien mot de passe" required=""
                        [type]="passwordFieldType" [(ngModel)]="oldPassword" />
                    <div class="absolute right-3 flex items-center justify-center w-6 h-6 md:w-8 md:h-8 cursor-pointer"
                        (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            class="fa-solid text-lg text-gray-800 dark:text-gray-300"></i>
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <label
                    class="text-xs md:text-sm lg:text-base font-medium leading-none flex items-center gap-2 text-gray-800 dark:text-gray-300"
                    for="password">
                    <i class="fa-solid fa-lock text-gray-800 dark:text-gray-300"></i>
                    Nouveau mot de passe
                </label>
                <div class="relative flex items-center">
                    <input
                        class="flex h-10 md:h-12 w-full rounded-md border border-input bg-background px-3 md:px-4 py-2 text-base text-black dark:text-gray-200 dark:bg-main-dark-bg dark:border-gray-500 ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
                        id="password" placeholder="Entrez votre mot de passe" required="" [type]="passwordFieldType"
                        [(ngModel)]="newPassword" />
                    <div class="absolute right-3 flex items-center justify-center w-6 h-6 md:w-8 md:h-8 cursor-pointer"
                        (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            class="fa-solid text-lg text-gray-800 dark:text-gray-300"></i>
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <label
                    class="text-xs md:text-sm lg:text-base font-medium leading-none flex items-center gap-2 text-gray-800 dark:text-gray-300"
                    for="password">
                    <i class="fa-solid fa-lock text-gray-800 dark:text-gray-300"></i>
                    Confirmation du nouveau mot de passe
                </label>
                <div class="relative flex items-center">
                    <input
                        class="flex h-10 md:h-12 w-full rounded-md border border-input bg-background px-3 md:px-4 py-2 text-base text-black dark:text-gray-200 dark:bg-main-dark-bg dark:border-gray-500 ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
                        id="password" placeholder="Entrez votre nouveau mot de passe" required="" [type]="passwordFieldType"
                        [(ngModel)]="newPasswordConfirmation" />
                    <div class="absolute right-3 flex items-center justify-center w-6 h-6 md:w-8 md:h-8 cursor-pointer"
                        (click)="togglePasswordVisibility()">
                        <i [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                            class="fa-solid text-lg text-gray-800 dark:text-gray-300"></i>
                    </div>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <button
                    class="inline-flex text-base items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 h-10 md:h-12 px-4 py-2 mt-2 w-full">
                    Modifier le mot de passe
                </button>
            </div>
        </div>
    </div>
</section>