<section class="w-full py-16 md:py-32 flex items-center justify-center bg-gray-100 dark:bg-main-dark-bg h-screen">
    <div class="container mb-20 px-4 md:px-6 grid items-center gap-6 lg:grid-cols-2 lg:gap-12 animate-appear opacity-0">
        <div class="space-y-4">
            <h1 class="text-5xl font-bold tracking-tighter sm:text-6xl md:text-7xl text-gray-800 dark:text-gray-200">Poker HL</h1>
            <p
                class="max-w-[700px] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed text-gray-500 dark:text-gray-400">
                Découvrez le logiciel ultime pour votre entraînement au poker, conçu pour perfectionner vos compétences
                et élever votre jeu vers de nouveaux sommets.
            </p>
            <div class="flex flex-col gap-5 min-[400px]:flex-row">
                <div (click)="redirectTo('situations-list-training')"
                    class="animate-appear animation-delay-50 opacity-0 inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                    <i class="fas fa-play mr-2 h-4 w-4"></i>
                    Entraînement
                </div>
                <div (click)="redirectTo('situations-list-manager')"
                    class="animate-appear animation-delay-100 opacity-0 inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                    <i class="fas fa-tasks mr-2 h-4 w-4"></i>
                    Situations
                </div>
                <div (click)="redirectTo('settings')"
                    class="animate-appear animation-delay-150 opacity-0 inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                    <i class="fas fa-cog mr-2 h-4 w-4"></i>
                    Paramètres
                </div>
            </div>
        </div>
        <div class="flex lg:justify-end xl:lg:justify-end w-full">
            <img src="../../../assets/img/logo.png"
                class="animate-appear animation-delay-200 object-cover w-10/12 opacity-0" />
        </div>
    </div>
</section>