/********************************* Back Arrow *********************************/

ion-icon {
    pointer-events: none;
}

ion-button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.backArrow {
    z-index: 1;
    position: absolute;
    font-size: 3.5em;
    left: 1.5%;
    top: 1.5%;
    cursor: pointer;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
}

.backArrow:hover {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.backArrow:active {
    scale: (0.8);
    -moz-animation: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(-5px);
    }
}

/********************************* Login div *********************************/

.settings-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-div {
    margin: 0;
    width: fit-content;
    padding: 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

h3 {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 25px;
    color: #333;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.flex-container {
    display: flex;
}

.settings-first-part,
.settings-second-part {
    width: 50%;
    min-width: 425px;
}

.settings-first-part{
    margin-right: 25px;
}

.settings-second-part{
    margin-left: 25px;
}

.settings-first-part h4{
    margin-bottom: 18px;
}

h4 {
    margin: 0;
    margin-top: 40px;
    text-align: left !important;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

p {
    color: rgb(141, 141, 141);
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.setting-description {
    text-align: left;
    color: #303030;
    font-size: 17px;
    letter-spacing: 1px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::ng-deep .p-inputswitch {
    margin-top: 4px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/********************************* Boutons *********************************/

$colors: (
    fill: #3B82F6,
);

@each $button,
$color in $colors {
    .#{$button} {
        --color: #303030;
        --hover: #{$color};
    }
}

button {
    background: none;
    border: 1px solid;
    margin: auto;
    margin-top: 25px;
    font-size: 1.1em;
    padding: 15px;
    letter-spacing: 1px;
    width: 175px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    color: var(--color);
    transition: 0.25s;

    &:hover {
        border-color: var(--hover);
        color: #fff;
    }

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fill:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
}