<section class="flex min-h-screen bg-gray-100 dark:bg-main-dark-bg">
    <!-- SIDEBAR -->
    <div [ngClass]="{ 'w-20': isCollapsed, 'w-64': !isCollapsed }"
        class="fixed h-full whitespace-nowrap overflow-hidden transition-all duration-500 bg-white dark:bg-secondary-dark-bg shadow-xl">
        <ul class="absolute w-full">
            <li class="mb-6 ml-3 mt-4 w-fit">
                <div (click)="redirectTo('home')"
                    class="flex items-center cursor-pointer p-3 ">
                    <img src="../../../assets/img/logo.png" alt="Logo" class="h-8 w-8">
                    <span class="ml-4 text-xl font-bold text-gray-800 dark:text-gray-200">Poker HL</span>
                </div>
            </li>
            <li
                class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
                <div (click)="redirectTo('situations-list-training')" class="flex items-center px-3 py-4">
                    <i class="fa-solid fa-play ml-4 text-lg text-gray-800 dark:text-gray-200"></i>
                    <span [ngClass]="{ 'ml-10': isCollapsed, 'ml-4': !isCollapsed }" class="ml-4 text-md transition-all duration-500">Entraînement</span>
                </div>
            </li>
            <li
                class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
                <div (click)="redirectTo('situations-list-manager')" class="flex items-center px-3 py-4">
                    <i class="fa-solid fa-tasks ml-4 text-lg text-gray-800 dark:text-gray-200"></i>
                    <span [ngClass]="{ 'ml-10': isCollapsed, 'ml-4': !isCollapsed }" class="ml-4 text-md transition-all duration-500">Situations</span>
                </div>
            </li>
            <li
                class="transition-colors text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer w-full">
                <div (click)="redirectTo('settings')" class="flex items-center px-3 py-4">
                    <i class="fa-solid fa-gear ml-4 text-lg text-gray-800 dark:text-gray-200"></i>
                    <span [ngClass]="{ 'ml-10': isCollapsed, 'ml-4': !isCollapsed }" class="ml-4 text-md transition-all duration-500">Paramètres</span>
                </div>
            </li>
        </ul>
        <div class="absolute bottom-0 flex items-center p-4">
            <div class="dui-avatar">
                <div class="w-12 rounded-full">
                    <img
                        src="https://imgs.search.brave.com/QBZ3pjIkCvxe93Tm8VrevCLN6-iloSH7DHAj50TWzws/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzgyLzVj/L2UyLzgyNWNlMjlj/MWZkNTllYzk3Njc2/NzlhY2ZjODM4ZWI5/LmpwZw" />
                </div>
            </div>
            <div [ngClass]="{ 'whitespace-nowrap overflow-hidden': isCollapsed }" class="ml-4">
                <p class="font-semibold text-gray-800 dark:text-gray-200">Hugo Eribon</p>
                <div (click)="redirectTo('settings')"
                    class="hover:underline text-gray-800 dark:text-gray-200 cursor-pointer">Gérer le compte</div>
            </div>
        </div>
    </div>
    <button [ngStyle]="{ left: isCollapsed ? '80px' : '255px' }" (click)="toggleSidebar()"
        class="flex justify-center items-center z-10 fixed top-7 transform -translate-x-1/2 rounded-full w-7 h-7 text-xl transition-all duration-500 bg-white dark:bg-secondary-dark-bg text-gray-800 dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-600 border border-gray-400">
        <i class="fa-solid fa-angle-left text-base"
            [ngClass]="{ 'transform rotate-180': isCollapsed, 'transform rotate-0': !isCollapsed }"></i>
    </button>



    <!-- CONTENT -->
    <div [ngClass]="{ 'ml-20': isCollapsed, 'ml-64': !isCollapsed }"
        class="flex-grow py-8 px-14 min-h-screen transition-all duration-500 text-black overflow-hidden">
        <h3 class="text-4xl font-bold md:text-5xl text-gray-800 dark:text-gray-200 animate-appear opacity-0">
            Paramètres</h3>
        <p class="text-gray-500 dark:text-gray-400 text-xl mt-2 mb-0 text-left animate-appear opacity-0">Ajustez les
            paramètres selon vos préférences.</p>
        <div class="flex">
            <div class="w-1/2 min-w-[400px] mr-6">
                <div
                    class="mx-auto mt-10 p-5 rounded-lg shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-50">
                    <h4
                        class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider ">
                        Global</h4>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider ">
                            Activer le mode sombre</div>
                        <p-inputSwitch [(ngModel)]="darkMode" (onChange)="onChangeDarkMode()"></p-inputSwitch>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider ">
                            Désactiver les particules</div>
                        <p-inputSwitch></p-inputSwitch>
                    </div>
                </div>
                <div
                    class="mx-auto mt-10 p-5 rounded-lg shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-100">
                    <h4
                        class="m-0 mb-4 font-semibold text-left text-lg uppercase text-gray-800 dark:text-gray-300 tracking-wider ">
                        Entraînement
                    </h4>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider ">
                            Solution lors d'une erreur</div>
                        <p-inputSwitch [(ngModel)]="displaySolutionOnError"
                            (onChange)="onChangeDisplaySolutionOnError()"></p-inputSwitch>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider ">
                            Style des cartes</div>
                        <p-dropdown [(ngModel)]="cardsStyle" [options]="availableCardsStyles" optionLabel="name"
                            optionValue="code" (onChange)="onChangeDropdownCardsStyle($event)"></p-dropdown>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider ">
                            Couleur du tapis de jeu</div>
                        <p-dropdown [(ngModel)]="pokerTableColor" [options]="availablePokerTableColors"
                            optionLabel="name" optionValue="code"
                            (onChange)="onChangeDropdownTableColor($event)"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="w-1/2 min-w-[400px] ml-6">
                <div
                    class="mx-auto mt-10 p-5 rounded-lg shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-100">
                    <h4
                        class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                        Situations
                    </h4>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">Nom de solution
                            multiple auto</div>
                        <p-inputSwitch [(ngModel)]="autoNameMultipleSituation"></p-inputSwitch>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">Importer des
                            situations</div>
                        <div #fileImportInput (change)="onClickFileImport($event)"
                            class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                            <i class="fa-solid fa-download mr-4 h-4 w-4"></i>
                            Importer
                        </div>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">Exporter vos
                            situations</div>
                        <div (click)="onClickFileExport()"
                            class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                            <i class="fa-solid fa-upload mr-4 h-4 w-4"></i>
                            Exporter
                        </div>
                    </div>
                </div>
                <div
                    class="mx-auto mt-10 p-5 rounded-lg shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0 animation-delay-150">
                    <h4
                        class="m-0 mb-4 text-left text-lg font-semibold uppercase text-gray-800 dark:text-gray-300 tracking-wider">
                        Compte</h4>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">Modifier votre
                            mot de
                            passe</div>
                        <div
                            class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                            <i class="fa-solid fa-lock mr-4 h-4 w-4"></i>
                            Modification
                        </div>
                    </div>
                    <div class="flex items-center justify-between w-full mt-4">
                        <div class="text-left text-gray-800 dark:text-gray-300 text-lg tracking-wider">Se déconnecter de
                            votre compte</div>
                        <div (click)="apiAuth.signOut()"
                            class="inline-flex h-12 items-center justify-center rounded-md bg-gray-800 text-white dark:text-gray-200 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-5 text-base font-medium shadow transition-colors cursor-pointer">
                            <i class="fa-solid fa-arrow-right-from-bracket mr-4 h-4 w-4"></i>
                            Déconnexion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>