@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
    background: linear-gradient(60deg, #090a0f 0%, #272f3a 100%);
    color: white;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}

ion-icon {
    position: absolute;
    font-size: 3.5em;
    left: 1.5%;
    top: 1.5%;
    cursor: pointer;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
}

ion-icon:hover {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

ion-icon:active {
    scale: (0.80);
    -moz-animation: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;

}

.inner-header {
    width: 100%;
    display: grid;
    margin: auto;
    align-content: center;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 3em;
    margin: auto;
    margin-top: 2.5%;
}

h2 {
    letter-spacing: 1px;
}

.firsth2{
    margin-top: 35px;
}

.middleh2{
    margin-top: 40px;
}

.lasth2{
    margin-top: 5px;
}

// Button //////////////////////////////////////////////////

$colors: (
    fill: #fff,
);

@each $button,
$color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 45deg)};
    }
}

button {
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: auto;
    margin-bottom: 30px;
    font-size: 1.1em;
    padding: 1em;
    letter-spacing: 0.5px;
    border-radius: 30px;
    width: 400px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

button {
    color: var(--color);
    transition: 0.25s;

    &:hover {
        border-color: var(--hover);
        color: #303030;
    }
}

.fill:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.doubleButton {
    margin-left: 25px;
    margin-right: 25px;
}

.smallButton {
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 150px;
}

.selectedButton{
    box-shadow: inset 0 0 0 2em var(--hover);
    color: #303030;
    border-color: white;
}

// Name Text input field /////////////////////////////////////////////////////////////////////////

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: auto;
    margin-top: 50px;
    width: 25%;
    text-align: center;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
    }

    padding-bottom: 6px;
    border-width: 3px;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.rightForm {
    width: 100%;
    margin-top: 30px;
}

// Tableaux /////////////////////////////////////////////////////////////////////////

.tableaux {
    display: inline-block;
    vertical-align: top;
    margin: 2.6%;
}

table {
    margin: auto;
    border-collapse: collapse;
    font-family: sans-serif;
}

table tr td {
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table tbody td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rightDiv{
    margin-top: 70px;
}

// Selection des solutions /////////////////////////////////////////

.solutions {
    --background: #ffffff;
    --text: #272f3a;
    --radio: #7C96B2;
    --radio-checked: #272f3a;
    --radio-size: 25px;
    --width: 100px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: fit-content;
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    padding: 30px 45px;
    display: grid;
    margin-top: 45px;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    scale: 1.10;

    .textInput {
        font-size: 1.3em;
        margin-top: 14px;
        margin-bottom: 14px;
        border: none;
        width: 70px;
        text-align: center;
        margin-right: 15px;
    }

    .textInput::placeholder {
        color: #090a0f;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: var(--radio-size);
        width: var(--radio-size);
        outline: none;
        margin: 0;
        cursor: pointer;
        border: 2px solid var(--radio);
        background: transparent;
        border-radius: 50%;
        display: grid;
        justify-self: end;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        transition: border .5s ease;

        &::before,
        &::after {
            content: "";
            display: flex;
            justify-self: center;
            border-radius: 50%;
        }

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            z-index: 1;
            opacity: var(--opacity, 1);
        }

        &::after {
            position: relative;
            width: calc(100% /2);
            height: calc(100% /2);
            top: var(--y, 100%);
            transition: top .5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
        }

        &:checked {
            --radio: var(--radio-checked);

            &::after {
                --y: 0%;
                animation: stretch-animate .3s ease-out .17s;
            }

            &::before {
                --opacity: 0;
            }

            ~input[type="radio"] {
                &::after {
                    --y: -100%;
                }
            }
        }

        &:not(:checked) {
            &::before {
                --opacity: 1;
                transition: opacity 0s linear .5s;
            }
        }
    }

    #radio0::after {
        background: rgb(216, 0, 0);
    }

    #radio0 {
        --radio: rgb(216, 0, 0);
    }

    #radio1::after {
        background: rgb(0, 151, 0);
    }

    #radio1 {
        --radio: rgb(0, 151, 0);
    }

    #radio2::after {
        background: rgb(19, 82, 255);
    }

    #radio2 {
        --radio: rgb(19, 82, 255);
    }

    #radio3::after {
        background: rgb(140, 0, 255);
    }

    #radio3 {
        --radio: rgb(140, 0, 255);
    }

    #radio4::after {
        background: rgb(255, 0, 212);
    }

    #radio4 {
        --radio: rgb(255, 0, 212);
    }

    #radio5::after {
        background: rgb(255, 123, 0);
    }

    #radio5 {
        --radio: rgb(255, 123, 0);
    }

    #radio6::after {
        background: rgb(0, 163, 228);
    }

    #radio6 {
        --radio: rgb(0, 163, 228);
    }
}

// Animations ///////////////////////////////////////////

@keyframes stretch-animate {
    0% {
        transform: scale(1, 1)
    }

    28% {
        transform: scale(1.15, .85)
    }

    50% {
        transform: scale(.9, 1.1)
    }

    100% {
        transform: scale(1, 1)
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(-5px);
    }
}