<div class="header">
    <ion-icon (click)="redirectToHome()" name="arrow-back-outline"></ion-icon>
    <div class="inner-header">
        <h1>Enregistrer une nouvelle situation</h1>
        <div class="form__group field">
            <input [(ngModel)]="situationName" type="text" class="form__field" placeholder="Nom de la situation" name="situationName"
                id='situationName' required />
            <label for="situationName" class="form__label">Nom de la situation</label>
        </div>
    </div>
    <div class="tableaux">
        <table>
            <tbody>
                <tr *ngFor="let row of situation_array.situations">
                    <td *ngFor="let item of row" (click)="saveAction($event)" [style.backgroundColor]="item.action">{{item.card}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableaux">
        <form>
            <!-- <input type="input" class="textInput" value="All In"/>
            <input id="01" type="radio" name="r" value="1" checked>
            <input type="input" class="textInput" value="Limp"/>
            <input id="02" type="radio" name="r" value="2">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="03" type="radio" name="r" value="3">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="04" type="radio" name="r" value="4">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="05" type="radio" name="r" value="5">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="06" type="radio" name="r" value="6">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="07" type="radio" name="r" value="7">
            <input type="input" class="textInput" value="Aucun"/>
            <input id="08" type="radio" name="r" value="8"> -->
            <ng-container *ngFor="let row of situation_array.situations; let i = index">
                <input type="input" class="textInput" value="All In"/>
                <input [id]="'radio_action_' + i" type="radio" name="r" checked>
            </ng-container>
        </form>
    </div>
    <div>
        <button (click)="cancelSituation()" class="fill doubleButton">Annuler</button>
        <button (click)="saveSituation()" class="fill doubleButton">Enregistrer</button>
    </div>
</div>