<div class="header">
    <ion-icon (click)="redirectToHome()" name="arrow-back-outline"></ion-icon>
    <div class="inner-header">
        <h1>Enregistrer une nouvelle situation</h1>
        <div class="form__group field">
            <input [(ngModel)]="situationName" type="text" class="form__field" placeholder="Nom de la situation" name="situationName"
                id='situationName' required />
            <label for="situationName" class="form__label">Nom de la situation</label>
        </div>
    </div>
    <div class="tableaux">
        <table>
            <tbody>
                <tr *ngFor="let row of situation_array.situations">
                    <!-- <td *ngFor="let item of row" (click)="saveAction($event)" [style.backgroundColor]="item.action">{{item.card}}</td> -->
                    <td *ngFor="let item of row" (click)="saveAction($event)" [style.background]="'radial-gradient(' + (item.action | actionColor) + ', black 200%)'">{{item.card}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tableaux">
        <form>
            <!-- <input type="input" class="textInput" value="All In" placeholder="Aucun"/>
            <input id="radio1" type="radio" name="r" value="1" checked>
            <input type="input" class="textInput" value="Call" placeholder="Aucun"/>
            <input id="radio2" type="radio" name="r" value="2">
            <input type="input" class="textInput" value="Check" placeholder="Aucun"/>
            <input id="radio3" type="radio" name="r" value="3">
            <input type="input" class="textInput" placeholder="Aucun"/>
            <input id="radio4" type="radio" name="r" value="4">
            <input type="input" class="textInput" placeholder="Aucun"/>
            <input id="radio5" type="radio" name="r" value="5">
            <input type="input" class="textInput" placeholder="Aucun"/>
            <input id="radio6" type="radio" name="r" value="6">
            <input type="input" class="textInput" placeholder="Aucun"/>
            <input id="radio7" type="radio" name="r" value="7">
            <input type="input" class="textInput" placeholder="Aucun"/>
            <input id="radio8" type="radio" name="r" value="8"> -->
            <ng-container *ngFor="let action of situation_array.actions; let i = index">
                <input type="input" class="textInput" value="{{action.display_name}}" placeholder="Aucun"/>
                <input [id]="'radio' + i" type="radio" name="r" [value]="'radio_action_' + i" (click)="onChangeAction($event)">
            </ng-container>
        </form>
    </div>
    <div>
        <button (click)="cancelSituation()" class="fill doubleButton">Annuler</button>
        <button (click)="saveSituation()" class="fill doubleButton">Enregistrer</button>
    </div>
</div>