/********************************* Login div *********************************/

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 50px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.form-holder {
    position: relative;
    margin-bottom: 21px;
}

:focus {
    outline: none;
}

.form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    background: none;
    padding: 3px 42px 0px;
    color: #666;
    font-size: 17px;
    letter-spacing: 0.1px;
}

.form-control:focus {
    border-bottom: 1px solid rgb(48, 154, 253);
}

.form-holder .icon-div {
    position: absolute;
    top: 55%;
    font-size: 17px;
    left: 10px;
    color: #666;
    transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
}

.form-holder .icon-div:not(.right-icon-div) {
    pointer-events: none;
}

.form-holder .right-icon-div {
    width: fit-content;
    position: absolute;
    left: 245px;
    cursor: pointer;
    font-size: 20px;
    pointer-events: auto;
}

input::placeholder {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ion-icon {
    pointer-events: none;
}

/********************************* Boutons *********************************/

$colors: (
    fill: #3B82F6,
);

@each $button,
$color in $colors {
    .#{$button} {
        --color: #303030;
        --hover: #{$color};
    }
}

button {
    background: none;
    border: 1px solid;
    margin: auto;
    margin-top: 25px;
    font-size: 1.1em;
    padding: 15px;
    letter-spacing: 1px;
    width: 275px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    color: var(--color);
    transition: 0.25s;

    &:hover {
        border-color: var(--hover);
        color: #fff;
    }

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fill:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
}