<section class="flex min-h-screen items-center justify-center bg-gray-100 dark:bg-main-dark-bg">
    <div
        class="max-w-lg mx-auto space-y-8 rounded-lg p-6 md:p-8 lg:p-10 shadow-xl bg-white dark:bg-secondary-dark-bg animate-appear opacity-0">
        <div class="space-y-2 text-center">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800 dark:text-gray-300 m-0">Mot de passe
                oublié</h1>
            <p class="text-base md:text-sm lg:text-lg text-gray-500 dark:text-gray-300">Entrez votre adresse afin
                que nous puissons vous envoyer un email de réinitialisation de mot de passe.</p>
        </div>
        <div class="space-y-6">
            <div class="space-y-2">
                <label
                    class="text-xs md:text-sm lg:text-base font-medium leading-none flex items-center gap-2 text-gray-800 dark:text-gray-300"
                    for="email">
                    <i class="fa-solid fa-envelope text-gray-800 dark:text-gray-300"></i>
                    Email
                </label>
                <input [(ngModel)]="email" type="email" placeholder="Entrez votre adresse email" class="w-full" name="email" id="email"
                    autocomplete="off" pInputText />
            </div>
            <div class="space-y-4 text-center">
                <div class="cursor-pointer inline-flex text-base items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors bg-gray-800 text-white dark:text-gray-300 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 h-10 md:h-12 px-4 py-2 mt-2 w-full"
                    (click)="resetPassword()">
                    Envoyer
                </div>
            </div>
        </div>
    </div>
</section>