@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {

    //Dropdown primeNG
    .p-dropdown {
        ul {
            padding: 0;
            border-radius: 5px;
            overflow: hidden;
        }

        li.p-highlight.p-focus {
            @apply text-gray-800;
        }
    }

    //Paginator primeNG
    // .p-dropdown.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link.ng-star-inserted{
    //     @apply text-gray-800 dark:text-gray-200;
    // }

    //Slider
    .custom-slider .ngx-slider .ngx-slider-bar {
        @apply bg-gray-200 dark:bg-white;
        height: 3px;
    }

    .custom-slider .ngx-slider-bubble.ngx-slider-limit,
    .custom-slider .ngx-slider-bubble {
        @apply text-gray-800 dark:text-gray-200;
    }

    .custom-slider .ngx-slider .ngx-slider-selection {
        @apply bg-white dark:bg-blue-500;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer {
        @apply bg-blue-500 dark:bg-white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer:hover {
        cursor: grab;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer:active {
        cursor: grabbing;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer:after {
        @apply dark:bg-blue-500 bg-white;
        top: 6px;
        left: 6px;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
        @apply dark:bg-blue-500 bg-white;
    }

    .custom-slider .ngx-slider .ngx-slider-floor {
        margin-left: -6px !important;
    }

    .custom-slider .ngx-slider .ngx-slider-ceil {
        margin-left: 16px !important;
    }


    // .p-inputwrapper-filled.p-focus.p-inputwrapper-focus {
    //     background-color: red !important;
    //     color: red !important;
    //     display: none !important;
    // }
}