@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
    background: linear-gradient(60deg, #090a0f 0%, #272f3a 100%);
    color: white;
    overflow: hidden;
}

.inner-header {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: grid;
    margin: auto;
    align-content: center;
}

.pokerTable {
    height: 35em;
    width: 65em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgb(0, 151, 0), black 150%);
    border-radius: 500px;
    border: 20px solid darkgrey;
    box-shadow: 0 0 30px 5px darkgrey;
}

h1 {
    opacity: 0.6;
    font-style: italic;
    font-size: 4em;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
}

h1 span {
    margin-right: 15px;
    margin-left: 15px;
}

// Playing cards //////////////////////////////////////////

.cardContainer {
    height: 80px;
    position: absolute;
    overflow: hidden;
}

.userCards{
    top: 76.7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oponent0Cards{
    top: 9.2%;
    left: 50%;
    transform: rotate(180deg) translate(50%, -50%);
}

.oponent1Cards{
    transform: rotate(135deg);
    margin-top: 142px;
    margin-right: 640px;
    scale: 1.30;
}

.oponent2Cards{
    transform: rotate(-135deg);
    margin-top: 142px;
    margin-left: 640px;
    scale: 1.30;
}

.card {
    width: 30%;
}

.leftCard {
    margin-right: -24%;
}

hr {
    position: absolute;
    border: 0;
    width: 30%;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

hr.userHr{
    margin-top: 470px;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr.oponent0Hr{
    margin-top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr.oponent1Hr{
    transform: rotate(-45deg);
    margin-top: 150px;
}

hr.oponent2Hr{
    transform: rotate(45deg);
    margin-top: 150px;
    left: 70%;
}

// Players boxes //////////////////////////////////////////////////

.playerBox {
    width: 115px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.8);
    background: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #272f3a;
    cursor: pointer;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transform-origin: top left;
}

.playerBox:hover {
    scale: 1.10;
}

.playerBox ion-icon {
    font-size: 2.4em;
}

.playerBox h2 {
    margin: 0;
}

.playerBox h3 {
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}

.userBox {
    top: 100%;
}

.oponentBox1 {
    top: 10%;
    left: 5%;
}

.oponentBox2 {
    top: 10%;
    left: 95%;
}