<div class="header">
    <ion-button class="backArrow" (click)="redirectTo('list')">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div *ngIf="activeSituation" class="inner-header">
        <div class="pokerTable">
            <h1>Poker Trainer<br><span>&#9824;</span><span>&#9830;</span><span>&#9829;</span><span>&#9827;</span></h1>

            <!-- Adversaire du milieu  -->
            <div *ngIf="activeSituation.nbPlayer == 2">
                <div class="playerBox">
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                    <div *ngIf="activeSituation.dealer == 'opponent1'" class="dealer-coin dealer-coin-oponent0">
                        <span class="dealer-coin-text">D</span>
                    </div>
                </div>
                <hr class="oponent0Hr">
                <div class="cardContainer oponent0Cards">
                    <img class="card leftCard" src="../../../assets/img/cards/default.png">
                    <img class="card" src="../../../assets/img/cards/default.png">
                </div>
            </div>

            <!-- Adversaire de gauche  -->
            <div *ngIf="activeSituation.nbPlayer == 3">
                <div class="playerBox oponentBox1">
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                    <div *ngIf="activeSituation?.dealer == 'opponent1'" class="dealer-coin dealer-coin-oponent1">
                        <span class="dealer-coin-text">D</span>
                    </div>
                </div>
                <hr class="oponent1Hr">
                <div class="cardContainer oponent1Cards">
                    <img class="card leftCard" src="../../../assets/img/cards/default.png">
                    <img class="card" src="../../../assets/img/cards/default.png">
                </div>
            </div>

            <!-- Adversaire de droite  -->
            <div *ngIf="activeSituation.nbPlayer == 3">
                <div class="playerBox oponentBox2">
                    <img class="shark-fish-icon" src="../../../assets/img/{{activeSituation.opponentLevel}}.png">
                    <h2>Adversaire</h2>
                    <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                    <div *ngIf="activeSituation?.dealer == 'opponent2'" class="dealer-coin dealer-coin-oponent2">
                        <span class="dealer-coin-text">D</span>
                    </div>
                </div>
                <hr class="oponent2Hr">
                <div class="cardContainer oponent2Cards">
                    <img class="card leftCard" src="../../../assets/img/cards/default.png">
                    <img class="card" src="../../../assets/img/cards/default.png">
                </div>
            </div>

            <!-- Joueur  -->
            <div class="playerBox userBox">
                <ion-icon name="person-outline"></ion-icon>
                <h2>Vous</h2>
                <h3>{{activeSituation.dealerMissingTokens}} BB</h3>
                <div *ngIf="activeSituation?.dealer == 'you'" class="dealer-coin dealer-coin-player">
                    <span class="dealer-coin-text">D</span>
                </div>
            </div>
            <div class="cardContainer userCards">
                <img class="card leftCard" src="../../../assets/img/cards/{{activeSituation.left_card}}.png">
                <img class="card" src="../../../assets/img/cards/{{activeSituation.right_card}}.png">
            </div>
            <hr class="userHr">
        </div>
        <div class="rightDiv">
            <br>
            <div *ngFor="let action of activeSituation.actions">
                <button *ngIf="action.display_name" class="fill"
                    (click)="getResultCase(action.id)">{{action.display_name}}</button>
            </div>
        </div>
    </div>
</div>

<div class="info">Situation actuelle : {{currentSituationName}}</div>
<div class="stats">Ratio W/L : {{GoodResponse}} / {{BadResponse}}<br>Taux de réussite : {{SuccessRatePercentage}}%
    <!-- <br>Nbre cas restants : ∞ -->
</div>

<div *ngIf="currentSituation" id="situationTable" style="display: none;">
    <div class="parent">
        <div class="tableaux">
            <table>
                <tbody>
                    <tr *ngFor="let row of currentSituation.situations">
                        <td *ngFor="let item of row"
                            [style.background]="'radial-gradient(' + (item.action! | actionColor:currentSituation.actions) + ', black 200%)'">
                            {{item.card}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="color-solution-container">
            <div *ngFor="let action of activeSituation.actions; let i = index">
                <div class="color-solution" *ngIf="action.display_name">{{action.display_name}}
                    <div class="color-picker-square" [style]="'background-color: ' + solutionColorList[i]"></div>
                </div>
            </div>
        </div>
    </div>
</div>