<div class="header">
    <ion-icon class="backArrow" (click)="redirectToHome()" name="arrow-back-outline"></ion-icon>
    <div class="inner-header">
        <h1>Débuter une cession d'entraînement</h1>
        <p>Sélectionnez les situations sur lesquelles vous souhaitez vous entraîner</p>
        <div class="container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Nom</div>
                    <div class="col col-2">Nb jetons dealer</div>
                    <div class="col col-3">Nombre joueurs</div>
                    <div class="col col-4">Joueur Dealer</div>
                    <div class="col col-5">Lancer</div>
                </li>
                <div class="tableBody">
                    <li *ngFor="let situation of situationList" class="table-row">
                        <div class="col col-1">{{ situation.name }}</div>
                        <div class="col col-2">{{ situation.dealerMissingTokens }}</div>
                        <div class="col col-3">{{ situation.nbPlayer }}</div>
                        <div class="col col-4">{{ situation.dealer! | dealer }}</div>
                        <div class="col col-5"><input type="checkbox" class="cbx" id="{{situation._id}}" value="{{situation._id}}" (change)="onCheckedSituationCheckbox($event)" style="display: none;">
                            <label for="{{situation._id}}" class="check">
                                <svg width="18px" height="18px" viewBox="0 0 18 18">
                                    <path
                                        d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                    </path>
                                    <polyline points="1 9 7 14 15 4"></polyline>
                                </svg>
                            </label>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <!-- <button class="fill" (click)="redirectTo('training')">Lancer l'entraînement</button> -->
        <button class="fill" (click)="onStartTrainingButton()">Lancer l'entraînement</button>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>